<template>
  <v-layout row
            wrap>
    <v-flex xs12>
      <v-card flat>
        <v-card-text>

        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {}
</script>
