<template>
  <v-layout row
            wrap>
    <v-flex xs12>
      <v-card flat>
        <v-card-text>
          <v-layout row
                    wrap>
            <v-flex xs8>
              <v-select v-model="haber_descuento.tipo"
                        :items="[{id: 0, nombre: 'Haber'},{id: 1, nombre: 'Descuento'}]"
                        item-text="nombre"
                        item-value="nombre"
                        label="Tipo"
                        required />
            </v-flex>
            <v-flex xs4>
              <!-- TODO: Hacer que según tipo ingrese prefijo numérico de código -->
              <v-text-field v-model="haber_descuento.codigo"
                            label="Código"
                            required />
            </v-flex>
            <v-flex xs4>
              <v-text-field v-model="haber_descuento.monto"
                            type="number"
                            label="Monto"
                            required />
            </v-flex>
            <v-flex xs8>
              <v-text-field v-model="haber_descuento.nombre"
                            label="Nombre"
                            required />
            </v-flex>
            <v-flex xs12>
              <v-textarea v-model="haber_descuento.descripcion"
                          label="Descripción" />
            </v-flex>
            <v-flex xs12
                    md6>
              <v-switch v-model="haber_descuento.imponible"
                        :label="haber_descuento.imponible ? 'Imponible' : 'No imponible'" />
            </v-flex>
            <v-flex xs12
                    md6>
              <v-switch v-model="haber_descuento.tributable"
                        :label="haber_descuento.tributable ? 'Tributable' : 'No tributable'" />
            </v-flex>
            <v-flex xs12
                    md6>
              <v-switch v-model="haber_descuento.hora_extra"
                        :label="haber_descuento.hora_extra ? 'Base para hora extra' : 'No cuenta como base para hora extra'" />
            </v-flex>
            <v-flex xs12
                    md6>
              <v-switch v-model="haber_descuento.gratificacion"
                        :label="haber_descuento.gratificacion ? 'Base cálculo gratificación legal' : 'No cuenta en cálculo de gratificación legal'" />
            </v-flex>
            <v-flex xs12
                    md6>
              <v-switch v-model="haber_descuento.semana_corrida"
                        :label="haber_descuento.semana_corrida ? 'Base bono semana corrida' : 'No cuenta en bono semana corrida'" />
            </v-flex>
          </v-layout>
        </v-card-text>
        <v-card-actions>
          <BotonEnvio :disabled="!valido"
                      :refs="$refs"
                      :objeto="haber_descuento"
                      enlace="/api/haber_descuento">Crear {{ haber_descuento.tipo }}</BotonEnvio>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import BotonEnvio from '@/components/elements/BotonEnvio'

export default {
  components: {
    BotonEnvio,
  },
  data() {
    return {
      haber_descuento: {},
      valido: false,
    }
  },
}
</script>
