<template>
  <!-- ToDo: Consiederar cantidad de vacaciones disponibles -->
  <!-- ToDo: Mostrar feriados en el coso -->
  <!-- ToDo: Debemos tener un calendario empresa. isHoliday solo valida los feriados oficiales y no los días "dados" por la coop -->
  <v-form v-model="valid" ref="form">
    <v-layout row wrap>
      <v-flex xs12>
        <v-card flat>
          <v-card-text>
            <v-layout row wrap>
              <v-flex xs12>
                <v-select label="Beneficiario" v-model="vacacion.beneficiario" :items="personas" item-text="nombre_presentacion"></v-select>
              </v-flex>
              <v-flex xs12 sm6>
                <Fecha v-model="vacacion.fecha_inicio" label="Fecha de inicio"></Fecha>
              </v-flex>
              <v-flex xs12 sm6>
                <Fecha v-model="vacacion.fecha_termino" label="Fecha de término"></Fecha>
              </v-flex>
              <v-flex xs12>
                <v-text-field type="number" v-model="vacacion.dias_laborales" label="Número de días laborales"></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field v-model="vacacion.comentarios" label="Motivo" multi-line></v-text-field>
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-card-actions>
            <BotonEnvio :disabled="!valido" :refs="$refs" enlace="/api/vacacion" :objeto="vacacion">Crear vacaciones</BotonEnvio>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-form>
</template>


<script>
  import Fecha from '@/components/elements/Fecha'
  import BotonEnvio from '@/components/elements/BotonEnvio'

  export default {
    components: {
      BotonEnvio,
      Fecha
    },
    data() {
      return {
        personas: [],
        valido: false,
        vacacion: {}
      }
    },
    created() {
      this.axios.get('/api/persona')
        .then(response => {
          this.personas = response.data.data

        })
        .catch(error => {
          this.$store.dispatch('agregarError', {titulo: 'CrearVacacion', error})
        })
    },
  }

</script>
