<template>
  <Lista enlace="/api/vacacion" :encabezados="encabezados"></Lista>
</template>

<script>
  import Lista from '@/components/elements/Lista'

  export default {
    components: {
      Lista,
    },
    data() {
      return {
        encabezados: [{
            text: 'Persona',
            value: 'persona_id',
            function: this.obtenerNombrePersona
          },
          {
            text: 'Desde',
            value: 'fecha_inicio'
          },
          {
            text: 'Hasta',
            value: 'fecha_termino'
          },
          {
            text: 'Días hábiles',
            value: 'dias_habiles'
          },
        ],
      }
    },
    methods: {
      obtenerNombrePersona(persona) {
        return persona.nombre_presentacion
      }
    }
  }

</script>