<template>
  <v-layout row
            wrap>
    <v-flex xs12>
      <v-card flat>
        <v-card-text>
          <v-layout v-show="verAccionesSuperiores"
                    row
                    wrap>
            <v-flex xs12>
              <SelectorListas v-model="remuneraciones.periodo"
                              enlace="/api/periodo"
                              label="Período"
                              required />
            </v-flex>
            <v-flex xs12
                    sm6>
              <v-btn block
                     outline
                     color="primary"
                     @click="generarLiquidaciones()">Generar liquidaciones</v-btn>
            </v-flex>
            <v-flex xs12
                    sm6>
              <v-btn :class="estiloBotonPrimario"
                     block
                     @click="imprimirLiquidaciones()">Imprimir liquidaciones</v-btn>
            </v-flex>
          </v-layout>
          <v-tabs v-model="tab_activa">
            <v-tab key="haberes"
                   href="#haberes"
                   ripple>
              Haberes
            </v-tab>
            <v-tab key="descuentos"
                   href="#descuentos"
                   ripple>
              Descuentos
            </v-tab>
            <v-spacer />
            <v-tab key="crear_haber_descuento"
                   href="#crear_haber_descuento"
                   ripple>
              Crear haberes y descuentos
            </v-tab>
            <v-tab-item id="crear_haber_descuento"
                        key="crear_haber_descuento">
              <CrearHaberDescuento />
            </v-tab-item>
            <v-tab-item id="haberes"
                        key="haberes">
              <v-layout row
                        wrap>
                <v-flex xs12>
                  <ListaHaberDescuentoPorPersona :cargando="esta_cargando"
                                                 :personas="personas"
                                                 :conceptos="haberes" />
                </v-flex>
              </v-layout>
            </v-tab-item>
            <v-tab-item id="descuentos"
                        key="descuentos">
              <ListaHaberDescuentoPorPersona :cargando="esta_cargando"
                                             :personas="personas"
                                             :conceptos="descuentos" />
            </v-tab-item>
          </v-tabs>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapGetters } from 'vuex'
import CrearHaberDescuento from './CrearHaberDescuento'
import BotonEnvio from '@/components/elements/BotonEnvio'
import SelectorListas from '@/components/elements/SelectorListas'
import Fecha from '@/components/elements/Fecha'
import ListaHaberDescuentoPorPersona from './ListaHaberDescuentoPorPersona'

export default {
  components: {
    CrearHaberDescuento,
    BotonEnvio,
    SelectorListas,
    Fecha,
    ListaHaberDescuentoPorPersona,
  },
  data() {
    return {
      personas: [],
      haberes_descuentos: [],
      personas_haberes: [],
      personas_descuentos: [],
      remuneraciones: {},
      tab_activa: null,
      esta_cargando: true,
    }
  },
  computed: {
    ...mapGetters(['estiloBotonPrimario']),

    haberes() {
      return this.haberes_descuentos.filter(e => e.tipo === 'haber')
    },
    descuentos() {
      return this.haberes_descuentos.filter(e => e.tipo === 'descuento')
    },
    verAccionesSuperiores() {
      return this.tab_activa != 'crear_haber_descuento'
    },
  },
  created() {
    this.$store.dispatch('cambiarVerMenuLateral', false)
    this.esta_cargando = true

    this.axios
      .get('/api/persona')
      .then(personas_response => {
        this.personas = personas_response.data.data
        this.esta_cargando = false
      })
      .catch(error => {
        this.$store.dispatch('agregarError', {
          titulo: 'Remuneraciones',
          error,
        })
      })

    this.axios
      .get('/api/haber_descuento')
      .then(haber_descuento_response => {
        this.haberes_descuentos = haber_descuento_response.data.data
        this.esta_cargando = false
      })
      .catch(error => {
        this.$store.dispatch('agregarError', {
          titulo: 'Remuneraciones',
          error,
        })
      })
  },
}
</script>
