<template>
  <v-layout row wrap>
    <v-flex xs12>
      <v-form v-model="valido" ref="form" lazy-validation>

        <v-card flat>
          <v-card-title>
              <h5>Crear Cuenta</h5>
          </v-card-title>
          <v-card-text>
            <v-layout row wrap>
              <v-flex xs12 sm6 md4>
                <v-select v-model="cuenta.numero" label="Número" :items="numeros_cuentas" item-text="nombre" autocomplete required></v-select>
              </v-flex>
              <v-flex xs12 sm6 md4>
                <v-text-field v-model="cuenta.tipo" label="Tipo" required></v-text-field>
              </v-flex>
              <v-flex xs12 md4>
                <v-text-field v-model="cuenta.nombre" label="Nombre" required></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field v-model="cuenta.comentarios" label="Comentario" multi-line></v-text-field>
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-card-actions>
            <BotonEnvio :disabled="!valido" :refs="$refs" enlace="/api/cuenta" :objeto="cuenta">Crear cuenta</BotonEnvio>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-flex>
  </v-layout>
</template>

<script>
  import BotonEnvio from '@/components/elements/BotonEnvio'

  export default {
    components: {
      BotonEnvio,
    },
    data() {
      return {
        valido: false,
        cuenta: {}
      }
    }
  }

</script>