<template>
  <v-layout row wrap>
    <v-flex d-flex xs12 sm6 v-for="(categoria, index) in categorias" :key="index">
      <v-card>
        <v-card-title>
          {{ categoria.nombre }}
        </v-card-title>
        <v-card-text>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  import Lista from '@/components/elements/Lista'

  export default {
    components: {
      Lista,
    },
    data() {
      return {
        categorias: [{
            nombre: "Activos"
          },
          {
            nombre: "Pasivos"
          },
          {
            nombre: "Patrimonio"
          },
          {
            nombre: "Costos"
          },
          {
            nombre: "Ingresos"
          }
        ],
        encabezados: [{
            text: 'Código',
            value: 'codigo'
          },
          {
            text: 'Categoría',
            value: 'categoria'
          },
          {
            text: 'Subcategoría',
            value: 'subcategoria'
          },
          {
            text: 'Nombre',
            value: 'nombre'
          },
          {
            text: 'comentarios',
            value: 'comentarios'
          }
        ],
        plan_cuentas: [],
      }
    },
    created() {
      this.axios.get('/api/cuentas')
        .then(response => {
          this.cuentas = response.data.data

        })
        .catch(error => {
          this.$store.dispatch('agregarError', {titulo: 'ListaPlanCuentas', error})
        })
    },
  }

</script>
