<template>
  <v-card color="teal">
    <v-card-title>
      <h5>Notificaciones</h5>
    </v-card-title>
    <v-card-text>
      <v-alert v-if="!hayNotificaciones" :value="true" type="info">¡No hay notificaciones!</v-alert>
      <v-alert v-else class="notificacion" v-for="(notificacion, index) in notificaciones" :key="index" :color="notificacion.color" :icon="notificacion.icono" :value="true" @click="abrirNotificacion(notificacion)">
        <h5>{{ notificacion.nombre_presentacion }}</h5>
        <small>{{ notificacion.comentarios }}</small>
      </v-alert>
      <v-dialog v-model="modal" v-if="notificacion_seleccionada" max-width="500px">
        <v-card :color="notificacion_seleccionada.color">
          <v-card-title>
            <h4>{{ notificacion_seleccionada.nombre_presentacion }}</h4>
          </v-card-title>
          <v-card-text>
            {{ notificacion_seleccionada.comentarios }}
          </v-card-text>
          <v-card-actions>
            <v-btn color="primary" flat @click.stop="modal=false">Cerrar</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-card-text>
  </v-card>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data() {
    return {
      modal: false,
      notificaciones: [],
      notificacion_seleccionada: {},
    }
  },
  created() {
    this.axios
      .get('/api/notificacion')
      .then(response => {
        this.notificaciones = response.data.data
      })
      .catch(error => {
        this.$store.dispatch('agregarError', {
          titulo: 'ListaNotificaciones',
          error,
        })
      })
  },
  methods: {
    abrirNotificacion(notificacion) {
      this.modal = true
      this.notificacion_seleccionada = notificacion
    },
  },
  computed: {
    hayNotificaciones() {
      return !!this.notificaciones.length
    },
  },
}
</script>

<style>
.notificacion {
  cursor: pointer;
}
</style>
