<template>
  <v-layout row wrap>
    <v-flex xs12 md8>
      <router-view></router-view>
    </v-flex>
  </v-layout>
</template>

<script>
  export default {
    data() {
      return {
        notificacion: {},
      }
    }
  }
</script>
