<template>
  <v-layout row wrap>
    <v-flex xs12>
      <v-card flat>
        <v-card-text>
          <v-layout row wrap>
            <v-flex xs12>
              <v-text-field label="ID" v-model="prestamo.id" readonly></v-text-field>
            </v-flex>
            <v-flex xs12>
              <v-select label="Prestatario" v-model="prestamo.prestatario" :items="personas" item-text="nombre"></v-select>
            </v-flex>
            <v-flex xs12>
              <v-text-field label="Monto" v-model="prestamo.monto"></v-text-field>
            </v-flex>
            <v-flex xs12>
              <v-text-field label="Cuenta asociada" v-model="prestamo.cuenta"></v-text-field>
            </v-flex>
            <v-flex xs4>
              <v-text-field label="Numero de cuotas" v-model="prestamo.cuotas.numero"></v-text-field>
            </v-flex>
            <v-flex xs8>
              <v-text-field label="Valor cuota" v-model="prestamo.cuotas.valor"></v-text-field>
            </v-flex>
            <v-flex xs12>
              <v-text-field label="Comentario" v-model="prestamo.comentarios" multi-line></v-text-field>
            </v-flex>
          </v-layout>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  export default {
    props: ['id'],
    data() {
      return {
        valido: false,
        editando: false,
      }
    },
    created() {
      if (this.id) {
        this.editando = true
        this.axios.get('/api/prestamo/' + this.id)
          .then(response => {
            this.editando = true
            this.prestamo = Object.assign({}, this.prestamo, response.data)
          })
          .catch(error => {
            this.$store.dispatch('agregarError', {titulo: 'CrearPrestamo', error})
          })
      }
    },
  }

</script>