<template>
  <v-layout row
            wrap>
    <v-divider />
    <v-flex xs12>
      <SelectorListas v-model="tipo_hora"
                      :rules="[v => (!!v || v === 0) || 'Ingresa el tipo de hora correspondiente']"
                      return-object
                      enlace="/api/tipo_hora"
                      label="Tipo de hora"
                      @input="actualizar" />
    </v-flex>
    <v-flex xs8
            md7>
      <MontoMonetario v-model="monto_horas"
                      label="Monto en dinero"
                      @input="actualizar" />
    </v-flex>
    <v-flex xs4
            md5>
      <v-text-field v-model="cantidad_horas"
                    :label="'Horas ' + (tipo_hora.nombre_presentacion || '')"
                    @input="actualizar" />
    </v-flex>
  </v-layout>
</template>

<script>
import MontoMonetario from '@/components/elements/MontoMonetario'
import SelectorListas from '@/components/elements/SelectorListas'

export default {
  components: {
    MontoMonetario,
    SelectorListas,
  },
  props: {
    value: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      tipo_hora: { nombre_presentacion: null },
      monto_horas: null,
      cantidad_horas: null,
    }
  },
  created() {
    if (
      !!this.value &&
      'tipo_hora' in this.value &&
      'monto_horas' in this.value &&
      'cantidad_horas' in this.value
    ) {
      //FIX: Esto soluciona el que se pasen valores no inicializados al v-model, pero no es una buena práctica
      this.tipo_hora = this.value.tipo_hora
      this.monto_horas = this.value.monto_horas
      this.cantidad_horas = this.value.cantidad_horas
    } else {
      console.warn(
        'v-model sin las claves tipo_hora, monto_horas o cantidad_horas. No habrá comunicación padre-hijo.',
      )
    }
  },
  methods: {
    actualizar() {
      let tipo_hora = this.tipo_hora,
        monto_horas = this.monto_horas,
        cantidad_horas = this.cantidad_horas
      this.$emit('input', { tipo_hora, monto_horas, cantidad_horas })
    },
  },
}
</script>
