<template>
  <CartaPrincipal :enlaces="enlaces"
                  titulo="Cotizaciones" />
</template>

<script>
import CartaPrincipal from '@/components/elements/CartaPrincipal'

export default {
  components: {
    CartaPrincipal,
  },
  data() {
    return {
      enlaces: [
        {
          enlace: '/cotizaciones/crear',
          icono: 'add',
          titulo: 'Nueva cotización',
        },
        {
          enlace: '/cotizaciones/lista',
          icono: 'apps',
          titulo: 'Lista',
        },
      ],
    }
  },
}
</script>
