<template>
  <v-flex xs12
          sm6
          md4>
    <v-card class="card--flex-toolbar">
      <v-toolbar card>
        <v-toolbar-title class="body-2 grey--text">
          <v-text-field v-if="editandoNombre"
                        v-model="partida.nombre_presentacion"
                        @keyup.enter="editandoNombre = false" />
          <h4 v-else
              @click="editandoNombre = true">{{ partida.nombre_presentacion || 'Artículo sin nombre' }}</h4>
        </v-toolbar-title>
        <v-spacer />
        <v-btn :color="editandoNombre ? 'secondary' : 'primary'"
               fab
               small
               dark
               flat
               @click="editandoNombre = !editandoNombre">
          <v-icon>{{ editandoNombre ? 'save' : 'edit' }}</v-icon>
        </v-btn>
      </v-toolbar>
      <v-card-text>
        <v-layout row
                  wrap>
          <v-flex xs12>
            <MontoMonetario v-model="partida.presupuesto.materiales"
                            label="Materiales"
                            @input="actualizar" />
          </v-flex>
          <v-flex v-for="(mano, key) in partida.presupuesto.mano_de_obra"
                  :key="key + '_flex'"
                  xs12>
            <CantidadHorasTipo v-model="partida.presupuesto.mano_de_obra[key]"
                               :key="key + '_cantidad'"
                               @input="actualizar" />
          </v-flex>
          <v-flex xs12>
            <v-btn flat
                   color="primary"
                   @click="agregarTipoHora">Agregar</v-btn>
            <v-btn flat
                   color="primary"
                   @click="eliminarTipoHora">Eliminar</v-btn>
          </v-flex>
          <v-flex xs12>
            <MontoMonetario v-model="partida.presupuesto.excedentes"
                            label="Excedentes"
                            @input="actualizar" />
          </v-flex>
          <v-flex xs12>
            <MontoMonetario v-model="partida.presupuesto.hospedaje"
                            label="Hospedaje"
                            @input="actualizar" />
          </v-flex>
          <v-flex xs12>
            <MontoMonetario v-model="partida.presupuesto.viatico"
                            label="Viatico"
                            @input="actualizar" />
          </v-flex>
          <v-flex xs12>
            <MontoMonetario v-model="partida.presupuesto.traslado"
                            label="Traslado"
                            @input="actualizar" />
          </v-flex>
          <v-flex xs12>
            <MontoMonetario v-model="partida.presupuesto.otros"
                            label="Otros"
                            @input="actualizar" />
          </v-flex>
        </v-layout>
      </v-card-text>
    </v-card>
  </v-flex>
</template>

<script>
import MontoMonetario from '@/components/elements/MontoMonetario'
import SelectorListas from '@/components/elements/SelectorListas'
import CantidadHorasTipo from '@/components/Cotizaciones/CantidadHorasTipo'
import Partida from '@/modelos/Partida.js'

export default {
  components: {
    MontoMonetario,
    SelectorListas,
    CantidadHorasTipo,
  },
  props: {
    value: {
      type: Object,
      default: null,
    },
    numero: {
      type: Number,
      default: null,
    },
    utilidad: {
      type: Number,
      default: null,
    },
  },
  data() {
    return {
      editandoNombre: false,
      partida: new Partida(),
    }
  },
  created() {
    this.partida = this.value //FIX: Esto soluciona el que se pasen valores no inicializados al v-model, pero no parece una buena práctica
    this.partida.numero = this.numero + 1 //FIX: Funciona para que no parta de 0, pero es horrible
    this.partida.cantidad = 1
    this.partida.unidad = 'UN'
  },
  methods: {
    actualizar() {
      this.partida.precio_cotizacion = this.partida.netoCotizacion(
        this.utilidad,
      )
      this.$emit('input', this.partida)
    },
    agregarTipoHora() {
      this.partida.presupuesto.mano_de_obra.push({})
    },
    eliminarTipoHora() {
      this.partida.presupuesto.mano_de_obra.splice(
        this.partida.presupuesto.mano_de_obra.length - 1,
        1,
      )
      this.actualizar()
    },
  },
}
</script>
