<template>
  <Lista enlace="/api/presupuesto" :encabezados="encabezados"> </Lista>
</template>

<script>
  import { mapGetters } from 'vuex'
  import accounting from 'accounting'
  import Lista from '@/components/elements/Lista'

  export default {
    components: {
      Lista,
    },
    data() {
      return {
        encabezados: [{
            text: 'Código',
            value: 'codigo'
          },
          {
            text: 'Nombre',
            value: 'nombre_presentacion'
          },
          {
            text: 'Creación',
            value: 'created_at',
          }
        ],
      }
    },
  }

</script>
