<template>
  <CartaPrincipal titulo="Balances" :enlaces="enlaces"></CartaPrincipal>
</template>

<script>
  import CartaPrincipal from '@/components/elements/CartaPrincipal'

  export default {
    components: {
      CartaPrincipal
    },
    data() {
      return {
        enlaces: [{
          enlace: '/balances/crear',
          icono: 'add',
          titulo: 'Nuevo balance'
        }, {
          enlace: '/balances/lista',
          icono: 'apps',
          titulo: 'Lista de balances'
        }]
      }
    }
  }
</script>