<template>
    <Lista enlace="/api/balance" :encabezados="encabezados"></Lista>
</template>

<script>
import { mapGetters } from 'vuex'
import Lista from '@/components/elements/Lista'

export default {
  components: {
    Lista,
  },
  data() {
    return {
      encabezados: [
        {
          text: 'Nombre',
          value: 'nombre_presentacion',
        },
        {
          text: 'Fecha',
          value: 'fecha',
        },
      ],
    }
  },
}
</script>
