
<template>
  <v-form v-model="valido" ref="form" lazy-validation>
    <v-layout row wrap>
      <v-flex md8>
        <SelectorListas v-model="acta.tipo_acta_id" enlace="/api/tipo_acta" label="Tipo acta" required></SelectorListas>
      </v-flex>
      <v-flex md4>
        <Correlativo v-model="acta.numero" enlace="/api/acta" label="Número de acta" required></Correlativo>
      </v-flex>
      <v-flex md4>
        <Fecha v-model="acta.fecha" label="Fecha" required></Fecha>
      </v-flex>
      <v-flex md4>
        <Tiempo v-model="acta.hora_inicio" label="Hora inicio"></Tiempo>
      </v-flex>
      <v-flex md4>
        <Tiempo v-model="acta.hora_termino" label="Hora término"></Tiempo>
      </v-flex>
      <v-flex md6>
        <SelectorListas v-model="acta.actuario_id" enlace="/api/persona" label="Toma acta"></SelectorListas>
      </v-flex>
      <v-flex md6>
        <SelectorListas v-model="acta.moderador_id" enlace="/api/persona" label="Modera"></SelectorListas>
      </v-flex>
      <v-layout row wrap>
        <v-flex md12>
          <h5>Temas tratados (discusión)</h5>
          <EditorMarkdown v-model="acta.observaciones" label="Temas tratados" multi-line></EditorMarkdown>
      </v-flex>
        <v-flex xs12>
          <h5>Acuerdos</h5>
          <v-btn flat small color="primary" @click="agregarAcuerdo()">Agregar acuerdo</v-btn>
        </v-flex>
        <v-flex xs12 v-for="(acuerdo, index) in acta.acuerdos" :key="'acuerdo' + index">
          <v-layout row wrap>
            <v-flex xs1>
              {{ index + 1 }}
            </v-flex>
            <v-flex xs11>
              <Acuerdo v-model="acta.acuerdos[index]"></Acuerdo>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex xs12>
          <h5>Compromisos</h5>
          <v-btn flat small color="primary" @click="agregarCompromiso()">Agregar compromiso</v-btn>
        </v-flex>
        <v-flex xs12 v-for="(compromiso, index) in acta.compromisos" :key="'compromiso' + index">
          <v-layout row wrap>
            <v-flex xs1>
              {{ index + 1 }}
            </v-flex>
            <v-flex xs11>
              <Compromiso v-model="acta.compromisos[index]"></Compromiso>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex xs12>
          <h5>Temas próxima asamblea</h5>
          <v-btn flat small color="primary" @click="agregarTema()">Agregar tema</v-btn>
        </v-flex>
        <v-flex xs12 v-for="(tema, index) in acta.temas_proxima_asamblea" :key="'temas' + index">
          <v-layout row wrap>
            <v-flex xs1>
              {{ index + 1 }}
            </v-flex>
            <v-flex xs11>
              <Tema v-model="acta.temas_proxima_asamblea[index]"></Tema>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
      <v-flex md12>
        <v-text-field v-model="acta.comentarios" label="Comentario" multi-line></v-text-field>
      </v-flex>
      <v-flex xs12>
        <BotonEnvio :disabled="!valido" :refs="$refs" enlace="/api/acta" to="/actas" :objeto="acta">Guardar acta</BotonEnvio>
      </v-flex>
    </v-layout>
  </v-form>
</template>

<script>
  import {
    mapGetters
  } from 'vuex'
  import BotonEnvio from '@/components/elements/BotonEnvio'
  import SelectorListas from '@/components/elements/SelectorListas'
  import Correlativo from '@/components/elements/Correlativo'
  import SelectorRutNombre from '@/components/elements/SelectorRutNombre'
  import Fecha from '@/components/elements/Fecha'
  import Tiempo from '@/components/elements/Tiempo'
  import EditorMarkdown from '@/components/elements/EditorMarkdown'
  import Tema from '@/components/Actas/Tema'
  import Acuerdo from '@/components/Actas/Acuerdo'
  import Compromiso from '@/components/Actas/Compromiso'

  export default {
    components: {
      BotonEnvio,
      Correlativo,
      SelectorListas,
      SelectorRutNombre,
      Fecha,
      Tiempo,
      EditorMarkdown,
      Tema,
      Acuerdo,
      Compromiso,
    },
    props: ['id'],
    data() {
      return {
        valido: false,
        acta: {
          observaciones: '',
          acuerdos: [{}],
          compromisos: [{}],
          temas_proxima_asamblea: [{}],
        },
      }
    },
    methods: {
      agregarAcuerdo() {
        this.acta.acuerdos.push({})
      },
      agregarCompromiso() {
        this.acta.compromisos.push({})
      },
      agregarTema() {
        this.acta.temas_proxima_asamblea.push({})
      },
    },
  }

</script>
