<template>
  <v-layout row wrap>
    <v-flex md12>
      <v-text-field v-model="tema.titulo" @input="actualizar()" label="Título"></v-text-field>
    </v-flex>
    <v-flex md12>
      <v-text-field v-model="tema.contenido" @input="actualizar()" label="Contenido" multi-line></v-text-field>
    </v-flex>
  </v-layout>
</template>

<script>
  export default {
    data() {
      return {
        tema: {},
      }
    },
    methods: {
      actualizar() {
        this.$emit('input', this.tema)
      },
    },
  }

</script>
