<template>
  <v-flex xs12>
    <v-layout column>
      <v-flex xs12>
        <h1>ACTA {{ acta.tipo_acta }}</h1>
        <h2>{{ acta.unidad_productiva.nombre_presentacion }}</h2>
        <h3></h3>
      </v-flex>
      <v-flex xs12>
        <table>
          <tbody>
            <tr>
              <td>Fecha: {{ acta.fecha }}</td>
            </tr>
            <tr>
              <td>Hora inicio: {{ acta.hora_inicio }}</td>
              <td>Hora termino: {{ acta.hora_termino }}</td>
            </tr>
            <tr>
              <td>Preside la sesión: {{ acta.moderador }}</td>
            </tr>
            <tr>
              <td>Toma acta: {{ acta.actuario }}</td>
            </tr>
            <tr>
              <td>Observaciones: {{ acta.observaciones }}</td>
            </tr>
          </tbody>
        </table>
      </v-flex>
      <v-flex xs12>
        <section>
          <h3>SOCIOS/SOCIAS</h3>
          <ul>
            <li v-for="socio in acta.socios"
                :key="socio.rut"></li>
          </ul>
          <h3>INVITADOS/INVITADAS</h3>
          <ul>
            <li v-for="invitado in acta.invitados"
                :key="invitado.nombre"></li>
          </ul>
        </section>
      </v-flex>
      <v-flex xs12>
        <table>
          <caption>Temas tratados</caption>
          <thead>
            <th>
              <td>ITEM</td>
              <td>TEMA</td>
              <td>DISCUSIÓN</td>
            </th>
          </thead>
          <tbody>
            <tr v-for="tema in acta.temas"
                :key="tema.titulo">
              <td>{{ tema.numero }}</td>
              <td>{{ tema.titulo }}</td>
              <td>{{ tema.contenido }}</td>
            </tr>
          </tbody>
        </table>
      </v-flex>
      <v-flex xs12>
        <table>
          <caption>Decisiones y/o Acuerdos Tomados en la asamblea</caption>
          <thead>
            <th>
              <td>ITEM</td>
              <td>CONTENIDO</td>
            </th>
          </thead>
          <tbody>
            <tr v-for="acuerdo in acta.acuerdos"
                :key="acuerdo.titulo">
              <td>{{ acuerdo.numero }}</td>
              <td>{{ acuerdo.contenido }}</td>
            </tr>
          </tbody>
        </table>
      </v-flex>
      <v-flex xs12>
        <table>
          <caption>Compromisos en la asamblea</caption>
          <thead>
            <th>
              <td>ITEM</td>
              <td>ASUNTO</td>
              <td>RESPONSABLE</td>
              <td>FECHA</td>
            </th>
          </thead>
          <tbody>
            <tr v-for="compromiso in acta.compromisos"
                :key="compromiso.titulo">
              <td>{{ acuerdo.numero }}</td>
              <td>{{ acuerdo.titulo }}</td>
              <td>{{ acuerdo.responsable }}</td>
              <td>{{ acuerdo.fecha }}</td>
            </tr>
          </tbody>
        </table>
      </v-flex>
      <v-flex xs12>
        <table>
          <caption>Temas Próxima Asamblea</caption>
          <thead>
            <th>
              <td>PRIORIDAD</td>
              <td>TITULO</td>
              <td>CONTENIDO</td>
            </th>
          </thead>
          <tbody>
            <tr v-for="tema_proxima_asamblea in acta.temas_proxima_asamblea"
                :key="tema_proxima_asamblea.titulo">
              <td>{{ tema_proxima_asamblea.prioridad }}</td>
              <td>{{ tema_proxima_asamblea.titulo }}</td>
              <td>{{ tema_proxima_asamblea.contenido }}</td>
            </tr>
          </tbody>
        </table>
      </v-flex>
      <v-flex xs12>
        <p>La próxima asamblea debe quedar lista dos días después del día de hoy, se da término a la presente sesión.</p>
      </v-flex>
    </v-layout>
  </v-flex>
</template>

<script>
export default {
  props: {
    id: {
      type: [Number, String],
      default: null,
    },
  },
  data() {
    return {
      acta: {
        unidad_productiva: {
          nombre_presentacion: null,
        },
        socios: null,
        invitados: null,
        temas: null,
        acuerdos: null,
        compromisos: null,
        temas_proxima_asamblea: null,
      },
    }
  },
  created() {
    this.axios
      .get('/api/acta/' + this.id)
      .then(response => {
        this.acta = Object.assign({}, this.acta, response.data)
      })
      .catch(error => {
        this.$store.dispatch('agregarError', {
          titulo: 'VerActa',
          error,
        })
      })
  },
}
</script>

<style scoped>
table {
  width: 100%;
  background-color: #fff;
}

th,
td {
  font-weight: unset;
  padding-right: 10px;
}

td.head th {
  padding-top: 24px;
  padding-bottom: 20px;
}

td {
  padding-top: 18px;
  padding-bottom: 14px;
  font-size: 14px;
  color: #808080;
  line-height: 1.4;
}

th {
  font-family: Montserrat-Medium;
  font-size: 12px;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;
  background-color: #36304a;
}

td:hover {
  background-color: #f2f2f2;
}

td td:hover {
  background-color: #6c7ae0;
  color: #fff;
}
</style>
