<template>
  <Lista :encabezados="encabezados"
         enlace="/api/cheque">
    <template slot="acciones"
              slot-scope="item">
      <router-link :to="{ name: 'editar-cheque', params: { id: item.item.id } }">
        <v-btn small
               color="primary"
               dark>
          <v-icon left
                  dark>edit</v-icon>
          Editar cheque
        </v-btn>
      </router-link>
    </template>
  </Lista>
</template>

<script>
import { mapGetters } from 'vuex'
import accounting from 'accounting'
import Lista from '@/components/elements/Lista'

export default {
  components: {
    Lista,
  },
  data() {
    return {
      encabezados: [
        {
          text: 'Número',
          value: 'numero',
        },
        {
          text: 'Responsable',
          value: 'responsable_id',
        },
        {
          text: 'Monto',
          value: 'monto',
          callback: this.formatoMonetario,
        },
        {
          text: 'Fecha cheque',
          value: 'fecha_cheque',
        },
        {
          text: 'Diferencia',
          value: 'diferencia',
        },
      ],
    }
  },
  methods: {
    formatoMonetario(monto) {
      return accounting.formatMoney(monto, '$', 0, '.')
    },
  },
}
</script>
