<template>
  <v-form ref="form"
          v-model="valido"
          lazy-validation>
    <v-layout row
              wrap>
      <v-flex xs12>
        <v-card flat>
          <v-card-title>
            <h5>Identificación</h5>
          </v-card-title>
          <v-card-text>
            <v-layout row
                      wrap>
              <v-flex xs12>
                <v-text-field v-model="usuario.nombre_presentacion"
                              label="Nombre de usuario"
                              required />
              </v-flex>
              <v-flex xs12>
                <v-select v-model="usuario.rol"
                          :items="roles"
                          item-text="nombre"
                          label="Rol de usuario"
                          single-line
                          bottom />
              </v-flex>
              <v-flex xs8>
                <v-text-field v-model="usuario.contrasena"
                              :append-icon="ocultar_contrasena ? 'visibility' : 'visibility_off'"
                              :append-icon-cb="() => (ocultar_contrasena = !ocultar_contrasena)"
                              :type="ocultar_contrasena ? 'password' : 'text'"
                              label="Contraseña"
                              required />
              </v-flex>
              <v-flex xs4>
                <v-btn block
                       @click="generarContrasena">Generar contraseña</v-btn>
              </v-flex>
              <v-flex xs12>
                <v-text-field v-model="usuario.correo"
                              label="Correo"
                              required />
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-flex>
      <!-- fin de datos identificación -->
      <!-- información adicional -->
      <v-flex xs12>
        <v-card flat>
          <v-card-title>
            <h5>Información adicional</h5>
          </v-card-title>
          <v-card-text>
            <v-text-field v-model="usuario.comentarios"
                          label="Comentario"
                          multi-line />
          </v-card-text>
        </v-card>
      </v-flex>
      <!-- fin información adicional -->
      <v-flex xs12>
        <v-card flat>
          <v-card-actions>
            <BotonEnvio v-if="!id"
                        :objeto="usuario"
                        :disabled="!valido"
                        :refs="$refs"
                        enlace="/api/usuario">Crear usuario</BotonEnvio>
            <BotonEnvio v-if="id"
                        :objeto="usuario"
                        :disabled="!valido"
                        :refs="$refs"
                        enlace="/api/usuario"
                        editando>Editar usuario</BotonEnvio>
            <BotonEliminar v-if="id"
                           enlace="/api/usuario">Eliminar usuario</BotonEliminar>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-form>
</template>

<script>
import BotonEnvio from '@/components/elements/BotonEnvio'
import BotonEliminar from '@/components/elements/BotonEliminar'

export default {
  components: {
    BotonEnvio,
    BotonEliminar,
  },
  props: {
    id: {
      type: Number,
      default: null,
    },
  },
  data() {
    return {
      valido: false,
      editando: false,
      ocultar_contrasena: false,
      usuario: {},
    }
  },
  created() {
    if (this.id) {
      this.editando = true
      this.axios
        .get('/api/usuario/' + this.id)
        .then(response => {
          this.editando = true
          this.usuario = Object.assign({}, this.usuario, response.data)
        })
        .catch(error => {
          this.$store.dispatch('agregarError', {
            titulo: 'CrearUsuario',
            error,
          })
        })
    }
  },
  methods: {
    //TODO: Generador de contraseñas memorables
    generarContrasena() {
      let length = 8,
        charset =
          'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789',
        retVal = ''
      for (var i = 0, n = charset.length; i < length; ++i)
        retVal += charset.charAt(Math.floor(Math.random() * n))

      this.usuario.contrasena = retVal
    },
  },
}
</script>
