<template>
  <Lista enlace="/api/usuario" :encabezados="encabezados">
    <template slot="acciones" slot-scope="item">
      <v-card flat>
        <router-link :to="{ name: 'editar-usuario', params: { id: item.item.id } }">
          <v-btn small color="primary" dark>
            <v-icon left dark>edit</v-icon>
            Editar usuario
          </v-btn>
        </router-link>
        <BotonEnviarCorreo color="primary" dark></BotonEnviarCorreo>
      </v-card>
    </template>
  </Lista>
</template>

<script>
  import {
    mapGetters
  } from 'vuex'
  import Lista from '@/components/elements/Lista'
  import BotonEnviarCorreo from '@/components/elements/BotonEnviarCorreo'

  export default {
    components: {
      Lista,
      BotonEnviarCorreo,
    },
    data() {
      return {
        encabezados: [{
            text: 'Nombre de usuario',
            value: 'nombre_usuario'
          },
          {
            text: 'Roles',
            value: 'roles'
          },
          {
            text: 'Nombre',
            value: 'nombre_presentacion'
          },
        ],
      }
    },
  }

</script>
