<template>
  <Lista :encabezados="encabezados"
         enlace="/api/fondo_por_rendir">
    <template slot="acciones"
              slot-scope="item">
      <router-link :to="{ name: 'editar-fondo-por-rendir', params: { id: item.item.id } }">
        <v-btn small
               color="primary"
               dark>
          <v-icon left
                  dark>edit</v-icon>
          Editar fondo por rendir
        </v-btn>
      </router-link>
    </template>
  </Lista>
</template>

<script>
import Lista from '@/components/elements/Lista'

export default {
  components: {
    Lista,
  },
  data() {
    return {
      encabezados: [
        {
          text: 'Número',
          value: 'numero',
        },
        {
          text: 'Responsable',
          value: 'responsable_id',
        },
        {
          text: 'Monto',
          value: 'monto',
        },
        {
          text: 'Fecha entrega',
          value: 'fecha_entrega',
        },
        {
          text: 'Fecha cierre',
          value: 'fecha_cierre',
        },
        {
          text: 'Diferencia',
          value: 'diferencia',
        },
      ],
    }
  },
}
</script>
