<template>
  <v-container fluid grid-list-xs>
    <v-layout row wrap>
      <v-flex xs4 v-for="(estadistica, index) in estadisticas_generales" :key="index">
        <v-card flat class="carta-estadistica">
            <v-card-title>
            {{ estadistica.nombre }}
            </v-card-title>
            <v-card-text>
            {{ estadistica.valor }}
            </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>

  
  export default {
    data() {
      return {
        estadisticas_generales: null,
        areas: null,
      }
    },
  }

</script>

<style>
.carta-estadistica {
    text-align: center;
}
.carta-estadistica .card__title {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
    }
.carta-estadistica .card__text {
        font-weight: bold;
    }
</style>
