<template>
  <CartaPrincipal :enlaces="enlaces"
                  titulo="Gastos" />
</template>

<script>
import CartaPrincipal from '@/components/elements/CartaPrincipal'

export default {
  components: {
    CartaPrincipal,
  },
  data() {
    return {
      enlaces: [
        {
          enlace: '/gastos/crear',
          icono: 'add',
          titulo: 'Nuevo gasto',
        },
        {
          enlace: '/gastos/lista',
          icono: 'apps',
          titulo: 'Listado de gastos',
        },
      ],
    }
  },
}
</script>
