<template>
  <v-layout row wrap>
    <v-flex xs12>
      <v-form v-model="valido" ref="form" lazy-validation>

        <v-card flat>
          <v-card-title>
            <h5>Crear Solución</h5>
          </v-card-title>
          <v-card-text>
            <v-layout row wrap>
              <v-flex xs12>
                <v-text-field v-model="solucion.pregunta" label="Pregunta" required></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field v-model="solucion.respuesta" label="Respuesta" multi-line required></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-select v-model="solucion.etiquetas" label="Etiquetas" chips combobox :items="etiquetas"></v-select>
              </v-flex>
              <v-flex xs12>
                <v-text-field v-model="solucion.comentarios" label="Comentario" multi-line></v-text-field>
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-card-actions>
            <BotonEnvio :disabled="!valido" :refs="$refs" enlace="/api/solucion" :objeto="solucion">Crear solucion</BotonEnvio>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-flex>
  </v-layout>
</template>

<script>
  import BotonEnvio from '@/components/elements/BotonEnvio'

  export default {
    components: {
      BotonEnvio,
    },
    data() {
      return {
        valido: false,
        solucion: {}
      }
    }
  }

</script>