<template>
  <v-layout row wrap>
    <v-flex xs12>
      <v-form v-model="valido" ref="form" lazy-validation>
        <v-card flat>
          <v-card-title>
            <h5>Crear Opinión</h5>
          </v-card-title>
          <v-card-text>
            <v-layout row wrap>
              <v-flex xs12>
                <v-select v-model="opinion.area" label="Área" :items="areas_empresa" item-text="nombre" autocomplete required></v-select>
              </v-flex>
              <v-flex xs12>
                <v-text-field v-model="opinion.comentarios" label="Comentario" multi-line required></v-text-field>
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-card-actions>
            <BotonEnvio :disabled="!valido" :refs="$refs" enlace="/api/cuenta" :objeto="cuenta">Crear opinión</BotonEnvio>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-flex>
  </v-layout>
</template>

<script>
  import BotonEnvio from '@/components/elements/BotonEnvio'

  export default {
    components: {
      BotonEnvio,
    },
    data() {
      return {
        valido: false,
        opinion: {}
      }
    }
  }

</script>