<template>
  <v-container fluid grid-list-md>
    <v-layout row wrap>
      <v-flex xs12 md3 order-xs2>
        <ListaNotificaciones></ListaNotificaciones>
      </v-flex>
      <v-flex xs12 order-xs1>
        <MarcarAsistencia :sin-titulo="false"></MarcarAsistencia>
      </v-flex>
      <!-- <v-flex xs12 md9 order-xs1>
        <CrearAsistencia :sin-titulo="false"></CrearAsistencia>
      </v-flex> -->
      <v-flex md6 hidden-sm-and-down order-md4>
        <v-card>
          <v-card-title>
            <h5>Estadísticas generales</h5>
          </v-card-title>
          <!-- <EstadisticasGenerales></EstadisticasGenerales> -->
        </v-card>
      </v-flex>
      <v-flex xs12 md6 order-xs3>
        <v-card>
          <v-card-title>
            <h5>Balances</h5>
          </v-card-title>
          <CuadrosBalances></CuadrosBalances>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  components: {
    MarcarAsistencia: () => import('@/components/Asistencias/NuevoMarcarAsistencia'),
    CrearAsistencia: () => import('@/components/Asistencias/CrearAsistencia'),
    ListaNotificaciones: () =>
      import('@/components/Notificaciones/ListaNotificaciones'),
    EstadisticasGenerales: () =>
      import('@/components/Estadisticas/EstadisticasGenerales'),
    CuadrosBalances: () => import('@/components/Balances/CuadrosBalances'),
  },
}
</script>
