<template>
  <v-toolbar :scroll-threshold="180"
             app
             color="primary"
             fixed
             dark
             scroll-off-screen>
    <v-toolbar-side-icon @click="alternarVerMenuLateral" />
    <v-toolbar-title>
      {{ tituloPagina }}
    </v-toolbar-title>
    <v-spacer />
    <v-menu offset-y>
      <v-btn slot="activator"
             flat
             icon>
        <v-icon>more_vert</v-icon>
      </v-btn>
      <v-list>
        <v-list-tile @click="alternarVerAlerta">
          <!-- <v-list-tile-avatar>
            <v-icon small>fas fa-terminal</v-icon>
          </v-list-tile-avatar> -->
          <v-list-tile-content>
            <v-list-tile-title>Ver consola de alertas</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile @click="actualizarSesion">
          <!-- <v-list-tile-avatar>
            <v-icon small>refresh</v-icon>
          </v-list-tile-avatar> -->
          <v-list-tile-content>
            <v-list-tile-title>Actualizar sesión</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile @click="verConfirmarCerrarSesion = true">
          <!-- <v-list-tile-avatar>
            <v-icon small>fas fa-sign-out-alt</v-icon>
          </v-list-tile-avatar> -->
          <v-list-tile-content>
            <v-list-tile-title>Cerrar sesión</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-menu>
    <v-dialog v-model="verConfirmarCerrarSesion"
              max-width="500px">
      <v-card>
        <v-card-text>
          ¿Realmente deseas cerrar sesión?
        </v-card-text>
        <v-card-actions>
          <v-btn color="primary"
                 flat
                 @click.stop="verConfirmarCerrarSesion = false">Cancelar</v-btn>
          <v-spacer />
          <v-btn :disabled="cargando"
                 :loading="cargando"
                 color="red"
                 flat
                 @click="cerrar">Cerrar sesión</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-toolbar>
</template>

<script>
import { mapGetters } from 'vuex'
import { mapActions } from 'vuex'
export default {
  data() {
    return {
      verConfirmarCerrarSesion: false,
      cargando: false,
    }
  },
  computed: {
    ...mapGetters(['tituloPagina']),
  },
  methods: {
    ...mapActions([
      'alternarVerMenuLateral',
      'alternarVerAlerta',
      'cerrarSesion',
    ]),
    actualizarSesion() {
      this.$store.dispatch('cambiarPerfil')
    },
    cerrar() {
      this.cargando = true
      this.cerrarSesion()
    },
  },
}
</script>
