<template>
  <v-layout row wrap>
    <v-flex v-if="todo.length" xs12>
      <v-card flat>
        <v-list three-line>
          <v-list-group v-for="(nota, index) in todo" :key="index">
            <v-list-tile slot="activator" :class="nota.color">
              <v-list-tile-content>
                <v-list-tile-title>{{ nota.titulo }}</v-list-tile-title>
                <v-list-tile-sub-title>{{ nota.fecha_asignada || "Sin fecha asignada" }}</v-list-tile-sub-title>
              </v-list-tile-content>
              <v-list-tile-action>
                <v-btn icon :color="nota.terminada ? 'yellow darken-2' : 'grey' " @click="nota.terminada = !nota.terminada">
                  <v-icon>check</v-icon>
                </v-btn>
                <v-btn icon @click="eliminarNota(index)">
                  <v-icon>close</v-icon>
                </v-btn>
                <v-btn icon @click="editarNota(index)">
                  <v-icon>edit</v-icon>
                </v-btn>
              </v-list-tile-action>
            </v-list-tile>
            <v-list-tile>
              <v-list-tile-content>
                <v-list-tile-title>{{ nota.contenido || "Sin contenido" }}</v-list-tile-title>
                <v-list-tile-sub-title>Creada en {{ nota.fecha_creacion.toLocaleDateString('es-CL') }}</v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list-group>
        </v-list>
      </v-card>
    </v-flex>
    <v-flex xs12>
      <v-card>
        <v-form v-model="valido" ref="form" @submit.prevent>
          <v-card-text>
            <v-layout row>
              <v-flex xs1>
                <v-select label="Color" :items="colores" v-model="nota.color" chips>
                  <template slot="selection" slot-scope="data">
                    <v-chip small :class="data.item" @input="data.parent.selectItem(data.item)" :selected="data.selected" :key="JSON.stringify(data.item)">
                    </v-chip>
                  </template>
                  <template slot="item" slot-scope="data">
                    <v-list-tile-content :class="data.item"></v-list-tile-content>
                  </template>
                </v-select>
              </v-flex>
              <v-flex xs3>
                <v-text-field label="Título" single-line v-model="nota.titulo" :counter="120" required></v-text-field>
              </v-flex>
              <v-flex xs6>
                <v-text-field label="Contenido" single-line v-model="nota.contenido" :counter="225"></v-text-field>
              </v-flex>
              <v-flex xs2>
                <v-text-field type="date" label="Fecha" single-line v-model="nota.fecha_asignada"></v-text-field>
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-card-actions>
            <v-btn color="orange" type="submit" flat @keyup.enter="nuevaNota " @click="nuevaNota" :disabled="!estaCompleto">Nueva nota</v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>

  export default {
    data() {
      return {
        valido: false,
        newId: 0,
        nota: {},
        colores: ['primary', 'accent', 'error', 'info', 'success', 'warning'],
        todo: []
      }
    },
    watch: {
      todo: {
        handler: function () {
          this.$emit('actualizarTodo', this.todo)
        },
        deep: true
      }
    },
    computed: {
      estaCompleto() {
        return this.nota.color && this.nota.titulo
      }
    },
    methods: {
      nuevaNota() {
        if (this.$refs.form.validate()) {
          this.todo.push({
            color: this.nota.color,
            titulo: this.nota.titulo,
            contenido: this.nota.contenido,
            fecha_creacion: new Date(),
            fecha_asignada: this.nota.fecha_asignada,
            terminada: false,
            id: this.newId
          })
          this.$refs.form.reset()
          this.newId++
        }
      },
      eliminarNota(index) {
        this.todo.splice(index, 1);
      },
      editarNota(index) {

      }
    }
  }

</script>
