<template>
  <v-form v-model="valido" ref="form" lazy-validation>
    <!-- datos de identificación -->
    <v-layout row wrap>
      <v-flex xs12 sm6>
        <v-card flat>
          <v-card-title>
            <h5>Identificación</h5>
          </v-card-title>
          <v-card-text>
            <v-layout row wrap>
              <v-flex xs12 sm4>
                <RutChileno v-model="proveedor.rut" required></RutChileno>
              </v-flex>
              <v-flex xs12 sm4>
                <v-text-field label="Nombre legal" v-model="proveedor.nombre" required color="primary"></v-text-field>
              </v-flex>
              <v-flex xs12 sm4>
                <v-text-field label="Nombre presentación" v-model="proveedor.nombre_presentacion" required color="primary"></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field label="Giro" v-model="proveedor.giro" color="primary"></v-text-field>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs12 sm6>
        <v-card flat>
          <v-card-title>
            <h5>Dirección</h5>
          </v-card-title>
          <v-card-text v-for="(direccion, index) in proveedor.direcciones" :key="index">
            <Direccion v-model="proveedor.direcciones[index]" color="primary"></Direccion>
            <v-divider v-if="proveedor.direcciones.length > 1"></v-divider>
          </v-card-text>
          <v-card-actions>
            <v-btn flat :class="estiloBotonSecundario" @click="nuevaDireccion()">Agregar otra dirección</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
      <v-flex xs12 sm6>
        <v-card flat>
          <v-card-title>
            <h5>Contacto empresarial</h5>
          </v-card-title>
          <v-card-text>
            <v-layout row wrap>
              <v-flex xs12 sm6>
                <v-text-field label="Teléfono" v-model="proveedor.telefono" required color="primary"></v-text-field>
              </v-flex>
              <v-flex xs12 sm6>
                <v-text-field label="Correo" v-model="proveedor.correo" required color="primary"></v-text-field>
              </v-flex>
            </v-layout>
            <RRSSPicker v-model="proveedor.redes_sociales" color="primary"></RRSSPicker>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs12 sm6>
        <v-card flat>
          <v-card-title>
            <h5>Contacto comercial</h5>
          </v-card-title>
          <v-card-text v-for="(contacto, index) in proveedor.contactos" :key="index">
            <ContactoComercial v-model="proveedor.contactos[index]" color="primary"></ContactoComercial>
            <v-divider v-if="proveedor.contactos.length > 1"></v-divider>
          </v-card-text>
          <v-card-actions>
            <v-btn flat :class="estiloBotonSecundario" @click="nuevoContacto()">Agregar otra persona de contacto</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
      <v-flex xs12>
        <v-card flat>
          <v-card-title>
            <h5>Información adicional</h5>
          </v-card-title>
          <v-card-text>
            <v-layout row wrap>
              <v-flex xs12>
                <v-text-field v-model="proveedor.comentarios" label="Comentario" multi-line color="primary"></v-text-field>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs12>
        <v-card flat>
          <v-card-actions>
            <BotonEnvio :disabled="!valido" :refs="$refs" enlace="/api/proveedor" :objeto="proveedor">Crear proveedor</BotonEnvio>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-form>
</template>

<script>
import { mapGetters } from 'vuex'
import BotonEnvio from '@/components/elements/BotonEnvio'
import Fecha from '@/components/elements/Fecha'
import RutChileno from '@/components/elements/RutChileno'
import Direccion from '@/components/elements/Direccion'
import RRSSPicker from '@/components/elements/RRSSPicker'
import ContactoComercial from '@/components/elements/ContactoComercial'

export default {
  components: {
    BotonEnvio,
    Fecha,
    RutChileno,
    Direccion,
    RRSSPicker,
    ContactoComercial,
  },
  props: ['id'],
  data() {
    return {
      valido: false,
      editando: false,
      proveedor: {
        direcciones: [{}],
        contactos: [{}],
        redes_sociales: [{}],
      },
      nuevo_contacto: false,
    }
  },
  created() {
    if (this.id) {
      this.editando = true
      this.axios
        .get('/api/proveedor/' + this.id)
        .then(response => {
          this.proveedor = Object.assign({}, this.proveedor, response.data)
        })
        .catch(error => {
          this.$store.dispatch('agregarError', {titulo: 'CrearProveedor', error})
        })
    }
  },
  computed: {
    ...mapGetters([
      'estiloBotonPrimario',
      'estiloBotonSecundario',
    ]),
  },
  methods: {
    nuevaDireccion() {
      this.proveedor.direcciones.push({})
    },
    nuevoContacto() {
      this.proveedor.contactos.push({})
    },
  },
}
</script>
