<template>
  <CartaPrincipal titulo="Proveedores" :enlaces="enlaces"></CartaPrincipal>
</template>

<script>
  import CartaPrincipal from '@/components/elements/CartaPrincipal'

  export default {
    components: {
      CartaPrincipal
    },
    data() {
      return {
        enlaces: [{
          enlace: '/proveedores/crear',
          icono: 'add',
          titulo: 'Nuevo proveedor'
        }, {
          enlace: '/proveedores/lista',
          icono: 'apps',
          titulo: 'Lista de proveedores'
        }]
      }
    }
  }

</script>