<template>
  <v-flex xs12>
    <p v-show="cargando">
      <v-icon>fas fa-circle-notch fa-spin</v-icon>
    </p>
    <p v-if="!cargando && !!asistencia && !!asistencia.presentacion">
      {{ asistencia.fecha }}. {{ entrada_formato }} - {{ salida_formato }} {{ asistencia.centro_costo.nombre_presentacion }}. {{ asistencia.tipo_hora.nombre_presentacion }}
    </p>
    <p v-else-if="!asistencia && !cargando">
      No tienes asistencias registradas ¡Es tu primer día!
    </p>
  </v-flex>
</template>

<script>
export default {
  data() {
    return {
      cargando: true,
      asistencia: {
        fecha: null,
        entrada: null,
        salida: null,
        centro_costo: null,
        tipo_hora: null,
      },
    }
  },
  created() {
    this.obtenerUltimaAsistencia()
  },
  computed: {
    entrada_formato() {
      return this.formatoHora(
        this.asistencia.entrada.hora,
        this.asistencia.entrada.minuto,
      )
    },
    salida_formato() {
      return this.formatoHora(
        this.asistencia.salida.hora,
        this.asistencia.salida.minuto,
      )
    },
  },
  methods: {
    formatoHora(hora, minuto) {
      let pad = numero => {
        let cadena = '' + numero
        return cadena.length === 1 ? '0' + cadena : cadena
      }
      return pad(hora) + ':' + pad(minuto)
    },
    obtenerUltimaAsistencia() {
      this.cargando = true
      this.axios
        .get('/api/asistencia/ultima')
        .then(response => {
          this.asistencia = {}
          this.asistencia.fecha = response.data.data.fecha
          this.asistencia.entrada = response.data.data.entrada
          this.asistencia.salida = response.data.data.salida
          this.asistencia.centro_costo = response.data.data.centro_costo
          this.asistencia.tipo_hora = response.data.data.tipo_hora
          this.$store.commit('CAMBIAR_ASISTENCIA_PREVIA', this.asistencia)
          this.cargando = false
        })
        .catch(error => {
          this.$store.dispatch('agregarError', {
            titulo: 'AsistenciaPrevia',
            error,
          })
          this.cargando = false
        })
    },
  },
}
</script>
