<template>
  <CartaPrincipal titulo="Asistencia"
                  :enlaces="enlaces" />
</template>

<script>
import CartaPrincipal from '@/components/elements/CartaPrincipal'

export default {
  components: {
    CartaPrincipal,
  },
  data() {
    return {
      enlaces: [
        {
          enlace: '/asistencias/marcar',
          icono: 'fas fa-clock',
          titulo: 'Ingresar asistencia por reloj',
        },
        {
          enlace: '/asistencias/crear',
          icono: 'fas fa-plus',
          titulo: 'Ingresar nueva asistencia',
        },
        {
          enlace: '/asistencias/lista/personal',
          icono: 'fas fa-user',
          titulo: 'Listado personal de asistencias',
        },
        {
          enlace: '/asistencias/lista/general',
          icono: 'fas fa-users',
          titulo: 'Listado general de asistencias',
        },
      ],
    }
  },
}
</script>

