<template>
  <Lista :enlace="enlace_final"
         :titulo="titulo"
         :encabezados="encabezados"
         :pagination="pagination"
         :simple="simple" />
</template>

<script>
import { mapGetters } from 'vuex'
import Lista from '@/components/elements/Lista'

export default {
  components: {
    Lista,
  },
  props: {
    personaId: {
      type: [Number, String],
    },
    centroCostoId: {
      type: [Number, String],
      default: null,
    },
    titulo: {
      type: String,
      default: null,
    },
    enlace: {
      type: String,
      default: '/api/asistencia',
    },
    simple: {
      type: Boolean,
      default: false,
    },
    pagination: {
      type: Object,
      default: () => {
        return { sortBy: 'fecha', descending: true }
      },
    },
  },
  data() {
    return {
      enlace_final: this.enlace,
      encabezados: [
        {
          text: 'Fecha',
          value: 'fecha',
        },
        {
          text: 'Entrada',
          value: 'entrada',
          callback: this.formatoHora,
        },
        {
          text: 'Salida',
          value: 'salida',
          callback: this.formatoHora,
        },
        {
          text: 'Faena',
          value: 'centro_costo',
          callback: centro_costo => centro_costo.nombre_presentacion,
        },
        {
          text: 'Total de horas',
          value: 'total',
        },
        {
          text: 'Persona',
          value: 'nombre_presentacion',
          callback: persona => persona.nombre_presentacion,
        },
      ],
      buscar: '',
      listado: [],
      totalItems: 0,
      rowsPerPageItems: [
        10,
        20,
        50,
        {
          text: 'Todo',
          value: -1,
        },
      ],
      cargando: true,
    }
  },
  created() {
    if (this.personaId) {
      this.encabezados.pop() //Elimina la persona de la tabla
      this.enlace_final += '/personal/' + this.personaId
    } else if (this.centroCostoId) {
      this.enlace_final += '/centro_costo/' + this.centroCostoId
    }
  },
  methods: {
    formatoHora(tiempo) {
      let hora = tiempo.hora,
        minuto = tiempo.minuto

      if (!hora && !minuto) return null

      let pad = numero => {
        let cadena = '' + numero
        return cadena.length === 1 ? '0' + cadena : cadena
      }

      return pad(hora) + ':' + pad(minuto)
    },
  },
}
</script>
