<template>
  <v-stepper v-if="!carga_general"
             v-model="paso"
             alt-labels>
    <v-stepper-header>
      <template v-for="(asistencia, index) in asistencias">
        <!--f(x) = 2x + 1 , 2x + 2
        esta función nos da los valores correlativos [1,2], [3,4], [5,6]-->
        <v-stepper-step :key="'step-entrada' + index"
                        :complete="paso > pasoCalculado(index, 1)"
                        :step="pasoCalculado(index, 1)">
          Entrada
          <small v-if="asistencia.centro_costo">{{ asistencia.centro_costo.nombre_presentacion }}</small>
          <small v-if="formatoHora(asistencia.entrada)">{{ formatoHora(asistencia.entrada) }}</small>
        </v-stepper-step>
        <v-divider :key="'divider' + index" />
        <v-stepper-step :key="'step-salida' + index"
                        :complete="paso > pasoCalculado(index, 2)"
                        :step="pasoCalculado(index, 2)">
          Salida
          <small v-if="asistencia.centro_costo">{{ asistencia.centro_costo.nombre_presentacion }}</small>
          <small v-if="formatoHora(asistencia.salida)">{{ formatoHora(asistencia.salida) }}</small>
        </v-stepper-step>
        <v-divider v-if="asistencias.length - 1 > index"
                   :key="'divider' + index + 1" />
      </template>
    </v-stepper-header>
    <v-layout row
              wrap>
      <!-- <v-dialog v-model="error"
                max-width="290">
        <v-card>
          <v-card-text>
            {{ mensaje }}
          </v-card-text>
          <v-card-actions>
            <v-btn color="primary"
                   flat
                   @click.stop="error = false">Aceptar</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog> -->
      <v-flex xs12
              md6>
        <v-stepper-items>
          <template v-for="(asistencia, index) in asistencias">
            <v-stepper-content :step="pasoCalculado(index, 1)"
                               :key="'entrada' + index">
              <v-card flat
                      class="mb-4">
                <v-btn :disabled="!validarEntrada(asistencia)"
                       :loading="cargando"
                       :color="colorEnvio"
                       block
                       large
                       @click.native="marcarEntrada(asistencia)">{{ textoBoton('entrada', asistencia) }}</v-btn>
                <v-tabs v-model="tab_activa"
                        grow
                        centered>
                  <v-tab key="0">
                    Fecha
                  </v-tab>
                  <v-tab key="1">
                    Hora
                  </v-tab>
                  <v-tab key="2">
                    Faena
                  </v-tab>
                </v-tabs>
                <v-tabs-items v-model="tab_activa"
                              cycle>
                  <v-tab-item key="0">
                    <v-date-picker v-model="asistencia.fecha"
                                   locale="es-cl"
                                   full-width
                                   reactive />
                  </v-tab-item>
                  <v-tab-item key="1">
                    <RelojAsistencia v-model="asistencia.entrada"
                                     :color="colorEnvio" />
                  </v-tab-item>
                  <v-tab-item key="2">
                    <SelectorListas v-model="asistencia.centro_costo"
                                    :rules="[v => (!!v || v === 0) || 'Ingresa el centro de costos (faena) correspondiente']"
                                    :campos="['id', 'nombre_presentacion', 'codigo']"
                                    enlace="/api/centro_costo"
                                    label="Faena"
                                    return-object
                                    required />
                    <SelectorListas v-model="asistencia.tipo_hora"
                                    :rules="[v => (!!v || v === 0) || 'Ingresa el tipo de hora correspondiente']"
                                    :campos="['id', 'nombre_presentacion']"
                                    enlace="/api/tipo_hora"
                                    label="Tipo de hora"
                                    return-object
                                    required />
                  </v-tab-item>
                </v-tabs-items>
                <v-tooltip bottom>
                  <v-btn slot="activator"
                         :disabled="paso >= asistencias.lenght"
                         small
                         flat
                         icon
                         color="primary"
                         @click.native="PROXIMO_PASO()">
                    <v-icon>fas fa-arrow-right</v-icon>
                  </v-btn>
                  <span>Próximo paso (no guarda asistencia)</span>
                </v-tooltip>
              </v-card>
            </v-stepper-content>
            <v-stepper-content :step="pasoCalculado(index, 2)"
                               :key="'salida' + index">
              <v-card flat
                      class="mb-4">
                <v-btn :disabled="!validarSalida(asistencia) || cargando"
                       :loading="cargando"
                       :color="colorEnvio"
                       block
                       large
                       @click.native="marcarSalida(asistencia)">{{ textoBoton('salida', asistencia) }}</v-btn>
                <RelojAsistencia v-model="asistencia.salida"
                                 :color="colorEnvio" />
                <v-layout align-center
                          justify-space-between
                          row
                          wrap>
                  <v-flex xs12
                          md2>
                    <v-tooltip bottom>
                      <v-btn slot="activator"
                             small
                             flat
                             icon
                             color="primary"
                             @click.native="pasoPrevio()">
                        <v-icon>fas fa-arrow-left</v-icon>
                      </v-btn>
                      <span>Paso previo</span>
                    </v-tooltip>
                  </v-flex>
                  <v-flex xs12
                          md8>
                    <v-tooltip bottom>
                      <v-btn slot="activator"
                             :disabled="!validarSalida(asistencia) || cargando"
                             small
                             block
                             color="warning"
                             @click.native="retirarse(asistencia)">Terminar día</v-btn>
                      <span>Envía la asistencia y vuelve al inicio</span>
                    </v-tooltip>
                  </v-flex>
                  <v-flex v-if="(paso -1) >= asistencias.lenght"
                          xs12
                          md2>
                    <v-tooltip bottom>
                      <v-btn slot="activator"
                             small
                             flat
                             icon
                             color="primary"
                             @click.native="PROXIMO_PASO()">
                        <v-icon>fas fa-arrow-right</v-icon>
                      </v-btn>
                      <span>Próximo paso (no guarda asistencia)</span>
                    </v-tooltip>
                  </v-flex>
                  <v-flex xs12
                          md2>
                    <v-tooltip bottom>
                      <v-btn slot="activator"
                             small
                             flat
                             icon
                             color="error"
                             @click.native="borrarAsistencia()">
                        <v-icon>fas fa-times</v-icon>
                      </v-btn>
                      <span>Borra las asistencias en las que no se marcó salida</span>
                    </v-tooltip>
                  </v-flex>
                </v-layout>
              </v-card>
            </v-stepper-content>
          </template>
        </v-stepper-items>
      </v-flex>
      <v-flex xs12
              md6>
        <ListaAsistencias :persona-id="personaUsuario.id"
                          :pagination="{sortBy: 'fecha', descending: true, rowsPerPage: 4}"
                          titulo="Asistencias previas"
                          simple />
      </v-flex>
    </v-layout>
  </v-stepper>
</template>

<script>
import { mapGetters, mapMutations, mapState } from 'vuex'
import Fecha from '@/components/elements/Fecha'
import BotonEnvio from '@/components/elements/BotonEnvio'
import SelectorListas from '@/components/elements/SelectorListas'
import RelojAsistencia from '@/components/elements/RelojAsistencia'
import AsistenciaPrevia from '@/components/Asistencias/AsistenciaPrevia'
import ListaAsistencias from '@/components/Asistencias/ListaAsistencias'

export default {
  components: {
    Fecha,
    BotonEnvio,
    SelectorListas,
    RelojAsistencia,
    AsistenciaPrevia,
    ListaAsistencias,
  },
  data() {
    return {
      error: false,
      cargando: false,
      carga_general: true,
      mensaje: null,
      tab_activa: null,
    }
  },
  computed: {
    ...mapState({
      personaUsuario: state => state.perfil.personaUsuario,
      asistencias: state => state.asistencia.asistencias,
    }),
    ...mapGetters(['ultimaAsistenciaLocal']),
    paso: {
      get() {
        return this.$store.state.asistencia.paso
      },
      set(valor) {
        this.CAMBIAR_PASO(valor)
      },
    },
    colorEnvio() {
      return this.error ? 'error' : 'primary'
    },
  },
  /**
   * Revisa el backend, si hay asistencias previas, toma la última y copia sus valores, incluyendo el id
   * Si no tiene valores en las claves hora y minuto del objeto 'salida', añade una asistencia
   * Si
   * Si no hay asistencias guardadas en vuex, crea una asistencia con la fecha y hora actual como entrada,
   * copiando tipo y centro de costos de la asistencia previa, obtenida desde API.
   */
  created() {
    this.cargarAsistenciaAnterior()
      .then(asistenciaBackend => {
        let asistenciaTemporal
        //Si falta enviar la salida a backend, agrega id
        if (
          asistenciaBackend &&
          'id' in asistenciaBackend &&
          'salida' in asistenciaBackend &&
          (!asistenciaBackend.salida.hora || !asistenciaBackend.salida.minuto)
        ) {
          console.log('asistenciaBackend', asistenciaBackend)
          // asistenciaTemporal = {
          //   id: asistenciaBackend.id,
          //   persona: asistenciaBackend.persona,
          //   fecha: asistenciaBackend.fecha,
          //   entrada: asistenciaBackend.entrada,
          //   centro_costo:
          //     'centro_costo' in asistenciaBackend
          //       ? asistenciaBackend.centro_costo
          //       : null,
          //   tipo_hora:
          //     'tipo_hora' in asistenciaBackend
          //       ? asistenciaBackend.tipo_hora
          //       : null,
          // }
          this.AGREGAR_ASISTENCIA(asistenciaBackend)
          this.PROXIMO_PASO()
        } else {
          //Si no hay entradas pendientes en backend
          console.log('ultimaAsistenciaLocal', this.ultimaAsistenciaLocal)
          asistenciaTemporal = {
            persona: this.personaUsuario,
            fecha: this.ahora().hoy,
            entrada: {
              hora: this.ahora().hora,
              minuto: this.ahora().minuto,
            },
            centro_costo: null,
            tipo_hora: null,
            salida:
              (this.ultimaAsistenciaLocal &&
              'salida' in this.ultimaAsistenciaLocal)
                ? this.ultimaAsistenciaLocal.salida
                : {
                    hora: this.ahora().hora,
                    minuto: this.ahora().minuto,
                  },
          }
          this.AGREGAR_ASISTENCIA(asistenciaTemporal)
        }
        this.carga_general = false
      })
      .catch(error => {
        this.agregarError({
          titulo: 'MarcarAsistencia error en created()',
          error,
        })
        this.cargando = false
        this.carga_general = false
      })
  },
  methods: {
    ...mapMutations([
      'CAMBIAR_PASO',
      'PROXIMO_PASO',
      'PASO_PREVIO',
      'AGREGAR_ASISTENCIA',
    ]),
    agregarError(error) {
      this.error = error.error
      this.mensaje = error.message || error.titulo
      this.$store.dispatch('agregarError', error)
    },
    //TODO: Método que cargue la lista de asistencias del día actual/último día trabajado
    cargarAsistenciaAnterior() {
      this.cargando = true
      return new Promise((resolve, reject) => {
        this.axios({
          method: 'get',
          url: '/api/asistencia/ultima',
        })
          .then(response => {
            this.cargando = false
            resolve(response.data.data)
          })
          .catch(error => {
            this.agregarError({
              titulo: 'MarcarAsistencia cargando asistencia anterior',
              error,
            })
            this.cargando = false
            reject()
          })
      })
    },
    ahora() {
      let d = new Date(),
        pad = n => (n < 10 ? '0' + n : n)
      return {
        hoy:
          d.getFullYear() +
          '-' +
          pad(d.getMonth() + 1) +
          '-' +
          pad(d.getDate()),
        hora: pad(d.getHours()),
        minuto: pad(d.getMinutes()),
      }
    },
    borrarAsistencia() {
      this.$store.dispatch('borrarAsistencia')
      this.CAMBIAR_PASO(1)
    },
    pasoCalculado(paso, suma) {
      return 2 * paso + suma
    },
    textoBoton(tipo, asistencia) {
      return `Marcar ${tipo}
      ${
        asistencia.centro_costo
          ? ' a ' + asistencia.centro_costo.nombre_presentacion
          : ''
      }
      ${' a las ' + this.formatoHora(asistencia[tipo])}`
    },
    formatoHora(tiempo) {
      let hora = tiempo.hora,
        minuto = tiempo.minuto

      if (!hora && !minuto) return null

      let pad = numero => {
        let cadena = '' + numero
        return cadena.length === 1 ? '0' + cadena : cadena
      }

      return pad(hora) + ':' + pad(minuto)
    },
    /**
     * Llama a la mutación que retrocede el contador paso en el store
     */
    pasoPrevio() {
      this.PASO_PREVIO()
    },
    /**
     * Recibe una asistencia por parámetro, y valida que tenga fecha,
     * centro de costos, tipo de hora y una hora de entrada
     */
    validarEntrada(asistencia) {
      let mensaje
      if (!asistencia.fecha) {
        mensaje = 'Falta indicar la fecha'
      }
      if (
        !asistencia.centro_costo ||
        'id' in asistencia.centro_costo === false
      ) {
        mensaje = 'Falta indicar el centro de costos'
      }
      if (!asistencia.tipo_hora || 'id' in asistencia.tipo_hora === false) {
        mensaje = 'Falta indicar el tipo de hora de trabajo'
      }
      if (!asistencia.entrada) {
        mensaje = 'Falta indicar la hora de entrada'
      }

      this.mensaje = mensaje
      return !mensaje
    },
    /**
     * Recibe una asistencia por parámetro, comprueba que tenga una entrada válida
     * con validarEntrada, y que tenga una salida válida, donde no sea anterior
     * a la entrada
     */
    validarSalida(asistencia) {
      let mensaje
      if (!asistencia.salida) {
        mensaje = 'Falta indicar la hora de salida'
      }
      if (asistencia.salida.hora > asistencia.entrada.hora) {
        mensaje = 'La hora de salida es posterior que la de entrada'
      }
      if (
        asistencia.salida.hora === asistencia.entrada.hora &&
        asistencia.salida.minuto > asistencia.entrada.minuto
      ) {
        mensaje =
          'La hora de salida es posterior que la de entrada por algunos minutos'
      }

      this.mensaje = mensaje

      return this.validarEntrada(asistencia) && !mensaje
    },
    marcarEntrada(asistencia) {
      this.enviar(asistencia)
        .then(mensaje => {
          asistencia.salida = {
            hora: this.ahora().hora,
            minuto: this.ahora().minuto,
          }
          this.PROXIMO_PASO()
          this.cargando = false
        })
        .catch(error => {
          this.agregarError({
            titulo: 'MarcarAsistencia marcarEntrada()',
            error,
          })
          this.cargando = false
        })
    },
    /**
     *  Envía la asistencia a la base de datos luego
     *  Agrega una nueva asistencia para enviar el horario de la tarde.
     *  Sugiere mismo centro de costos y tipo de hora
     */
    marcarSalida(asistencia) {
      this.enviar(asistencia)
        .then(mensaje => {
          //La wea da error, pero la agrega...
          this.AGREGAR_ASISTENCIA({
            persona: this.personaUsuario,
            fecha: this.ahora().hoy,
            entrada: {
              hora: this.ahora().hora,
              minuto: this.ahora().minuto,
            },
            salida: {
              hora: null,
              minuto: null,
            },
            centro_costo: asistencia.centro_costo,
            tipo_hora: asistencia.tipo_hora,
          })
          this.cargando = false
          this.PROXIMO_PASO()
          this.mensaje = 'Asistencia enviada'
        })
        .catch(error => {
          this.agregarError({
            titulo: 'MarcarAsistencia marcarSalida()',
            error,
          })
          this.cargando = false
        })
    },
    /**
     * Envía la asistencia a backend mediante el método enviar
     * En caso de éxito, llama la acción borrarAsistencia del store
     */
    retirarse(asistencia) {
      //TODO: Mostrar confirmación, llevar a tarjeta de fin
      this.enviar(asistencia)
        .then(mensaje => {
          this.borrarAsistencia()
          this.cargando = false
        })
        .catch(error => {
          this.agregarError({
            titulo: 'MarcarAsistencia cargando asistencia anterior',
            error,
          })
          this.cargando = false
        })
    },
    /**
     * Envía la asistencia a backend mediante axios
     * Devuelve una promesa
     */
    enviar(asistencia) {
      this.cargando = true
      let metodo = 'post',
        asistenciaEnvio = {
          persona_id: asistencia.persona.id,
          fecha: asistencia.fecha,
          entrada: asistencia.entrada,
          salida: asistencia.salida,
          centro_costo_id: asistencia.centro_costo.id,
          tipo_hora_id: asistencia.tipo_hora.id,
        }

      if ('id' in asistencia && asistencia.id !== null) {
        asistenciaEnvio.id = asistencia.id
        metodo = 'put'
      }

      return this.axios({
        method: metodo,
        url: '/api/asistencia',
        data: asistenciaEnvio,
      })
    },
  },
}
</script>

<style>
.click-aca {
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
}
</style>
