<template>
  <v-snackbar v-if="ultimoError"
              v-model="alerta"
              :timeout="timeout"
              :color="background"
              bottom
              vertical
              multi-line>
    <div class="alertas">
      {{ ultimoError.mensaje }}
    </div>
    <v-btn :color="color"
           flat
           @click.native="alternarVerAlerta">Cerrar</v-btn>
  </v-snackbar>
</template>

<script>
import { mapGetters, mapState, mapActions } from 'vuex'

export default {
  props: {
    background: {
      type: String,
      default: 'info',
    },
    color: {
      type: String,
      default: 'white',
    },
    timeout: {
      type: Number,
      default: 2000,
    },
  },
  computed: {
    ...mapState({
      verAlerta: state => state.interfaz.ver_alerta,
    }),
    ...mapGetters(['ultimoError']),
    alerta: {
      get() {
        return this.verAlerta
      },
      set(newValue) {
        this.cambiarVerAlerta(newValue)
      },
    },
  },
  methods: {
    ...mapActions(['alternarVerAlerta', 'cambiarVerAlerta']),
  },
}
</script>

<style>
.alertas {
  font-size: 0.6rem;
  color: #fff;
}
</style>
