<template>
  <v-layout row wrap>
    <v-flex xs12 sm6>
      <SelectorListas v-model="value.banco" @input="actualizar()" label="Banco" item-text="nombre" autocomplete></SelectorListas>
    </v-flex>
    <v-flex xs12 sm6>
      <v-text-field v-model="value.cuenta" @input="actualizar()" label="Cuenta"></v-text-field>
    </v-flex>
  </v-layout>
</template>

<script>
  import SelectorListas from '@/components/elements/SelectorListas'

  export default {
    components: {
      SelectorListas,
    },
    props: {
      value: Object
    },
    methods: {
      actualizar() {
        this.$emit('input', this.value)
      }
    }
  }

</script>
