<template>
  <v-btn :disabled="disabled || enviando_datos"
         :loading="enviando_datos"
         outline
         color="primary"
         @click="enviar()">
    <slot />
  </v-btn>
</template>

<script>
import { mapState } from 'vuex'

export default {
  props: {
    disabled: {
      type: Boolean,
      default: false,
    },
    enlace: {
      type: String,
      required: true,
    },
    objeto: {
      type: [Object, Array],
      required: true,
    },
    agregarEmpresa: {
      type: Boolean,
      default: true,
    },
    refs: {
      type: [Object, Array],
      default: null,
    },
    to: {
      type: [Object, String],
      default: null,
    },
    editando: {
      type: Boolean,
      default: false,
    },
    extracciones: {
      type: Object,
      default: null,
    },
    callback: {
      type: Function,
      default: null,
    },
  },
  data() {
    return {
      enviando_datos: false,
    }
  },
  computed: {
    ...mapState({
      personaUsuario: state => state.perfil.personaUsuario,
      unidadProductivaUsuario: state => state.perfil.unidadProductivaUsuario,
    }),
  },
  methods: {
    reportarError(error) {
      this.$emit('error')
      this.$store.dispatch('agregarError', { titulo: 'BotonEnvio', error })
    },
    enviar() {
      if (
        !this.disabled &&
        ((this.refs && this.refs.form.validate()) || !this.refs)
      ) {
        //BUG: Si es un objecto, esto dejará la cagá agregando una unidad por cada clave
        if (this.agregarEmpresa) {
          for (let i = 0; i < this.objeto.length; i++)
            this.objeto[
              i
            ].unidad_productiva_id = this.unidadProductivaUsuario.id
        }
        for (const clave in this.extracciones) {
          // {'cliente_id': 'cliente.id'}
          let valor = this.extracciones[clave]
            .split('.')
            .reduce((o, i) => o[i], this.objeto)
          this.objeto[clave] = valor
        }
        this.enviando_datos = true
        let verbo = this.editando ? 'put' : 'post',
          enlace = this.editando
            ? this.enlace + '/' + this.objeto.id
            : this.enlace
        this.axios({
          method: verbo,
          url: enlace,
          data: this.objeto,
        })
          .then(response => {
            //TODO: Mejorar alerts
            alert('Envío exitoso')
            this.enviando_datos = false
            this.$emit('enviado', response)
            if (this.callback) this.callback
            if (this.to) this.$router.push(this.to)
          })
          .catch(error => {
            alert('Error en el envío')
            this.enviando_datos = false
            this.reportarError(error)
          })
      }
    },
  },
}
</script>
