<template>
  <router-link :to="{ name: rutaObjeto, params: { id: idObjeto } }">
    <v-btn small :color="color" dark>
      <v-icon left dark>edit</v-icon>
      Editar {{ nombreObjeto }}
    </v-btn>
  </router-link>
</template>

<script>
  export default {
    props: {
      rutaObjeto: {
        type: String,
        required: true,
      },
      idObjeto: {
        type: String,
        required: true,
      },
      nombreObjeto: {
        type: String,
        required: true,
      },
      color: {
        type: String,
        default: 'primary',
      }
    },
  }

</script>
