<template>
  <v-btn :color="color" :disabled="disabled" @click="eliminar()">
    <slot></slot>
  </v-btn>
</template>

<script>
  export default {
    props: {
      disabled: {
        type: Boolean,
        default: false
      },
      enlace: {
        type: String,
        required: true
      },
      mensajeConfirmacion: {
        type: String,
        default: '¿Estás seguro de eliminar este registro?'
      },
      color: {
        type: String,
        default: 'error'
      },
    },
    methods: {
      confirmarEliminacion() {
        if (confirm(this.mensajeConfirmacion)) {
          this.eliminar()
        }
      },
      eliminar() {
        this.axios.delete(this.enlace)
      }
    }
  }

</script>
