<template>
  <v-menu lazy :close-on-content-click="false" transition="scale-transition" offset-y full-width :nudge-right="40" max-width="290px"
    min-width="290px">
    <v-text-field slot="activator" :label="label" :value="value" prepend-icon="event"></v-text-field>
    <v-date-picker :value="value" @input="updateValue" :first-day-of-week="1" locale="es-cl" no-title scrollable actions>
      <template slot-scope="{ save, cancel }">
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn flat color="primary" @click="cancel">Cancelar</v-btn>
          <v-btn flat color="primary" @click="save">OK</v-btn>
        </v-card-actions>
      </template>
    </v-date-picker>
  </v-menu>
</template>

<script>
  export default {
    name: 'calendario-modal',
    props: [
      'value',
      'label'
    ],
    methods: {
      updateValue(value) {
        var updatedCopy = value
        this.$emit('input', updatedCopy)
      }
    }
  }

</script>