<template>
  <v-layout>
    <v-flex xs12 sm6>
      <v-text-field v-model="clave" :label="labelClave" :required="required" @input="actualizar()" :color="color"></v-text-field>
    </v-flex>
    <v-flex xs12 sm6>
      <v-text-field v-model="valor" :label="labelValor" :required="required" :rules="computedRules" @input="actualizar()" :color="color"></v-text-field>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: 'clave-valor',
  props: {
    value: {
      type: Object,
    },
    labelClave: {
      type: String,
    },
    labelValor: {
      type: String,
    },
    required: {
      type: Boolean,
    },
    rules: {
      type: Array,
    },
  },
  data() {
    return {
      clave: this.value.clave,
      valor: this.value.valor,
    }
  },
  methods: {
    actualizar() {
      let clave = this.clave,
        valor = this.valor
      this.$emit('input', { clave, valor })
    },
  },
  computed: {
    computedRules() {
      let reglas = []
      reglas.concat(this.rules)
      if (this.required) reglas.push(v => !!v || 'Debe ingresar un valor')
      return reglas
    },
  },
}
</script>