<template>
  <v-layout row wrap>
    <v-flex xs12>
      <v-text-field label="Nombre" v-model="nombre" require @input="actualizar()" :color="color"></v-text-field>
    </v-flex>
    <v-flex xs12 sm6>
      <v-text-field label="Teléfono" v-model="telefono" required @input="actualizar()" :color="color"></v-text-field>
    </v-flex>
    <v-flex xs12 sm6>
      <v-text-field label="Correo" v-model="correo" required @input="actualizar()" :color="color"></v-text-field>
    </v-flex>
    <v-flex xs12 sm6>
      <v-text-field label="Cargo" v-model="cargo" @input="actualizar()" :color="color"></v-text-field>
    </v-flex>
    <v-flex xs12 sm6>
      <v-text-field label="Comentario" v-model="comentarios" @input="actualizar()" :color="color"></v-text-field>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  props: {
    value: {
      type: Object,
    },
    color: {
      type: String,
      default: 'primary',
    },
  },
  data() {
    return {
      nombre: null,
      telefono: null,
      correo: null,
      cargo: null,
      comentarios: null,
    }
  },
  methods: {
    actualizar() {
      this.$emit('input', {
        nombre: this.nombre,
        telefono: this.telefono,
        correo: this.correo,
        cargo: this.cargo,
        comentarios: this.comentarios,
      })
    },
  },
}
</script>