<template>
  <v-text-field v-model="correlativo"
                :loading="cargando"
                :label="label"
                :rules="rules"
                :readonly="readonly"
                :required="required"
                @input="actualizar" />
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'Correlativo',
  props: {
    value: {
      type: [String, Number],
      default: null,
    },
    label: {
      type: String,
      default: 'Código',
    },
    rules: {
      type: Array,
      default: () => [],
    },
    readonly: {
      type: Boolean,
      default: false,
    },
    required: {
      type: Boolean,
      default: false,
    },
    loading: {
      type: Boolean,
      default: true,
    },
    color: {
      type: String,
      default: 'primary',
    },
    enlace: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      correlativo: this.value,
      cargando: this.loading,
    }
  },
  computed: {
    computedRules() {
      let reglas = []
      reglas.concat(this.rules)
      if (this.required)
        reglas.push(v => !!v || v === 0 || 'Se require esta información')
      return reglas
    },
  },
  created() {
    if (!this.value && this.value !== 0) {
      let params = {
        'nuevo-codigo': true,
      }

      this.axios
        .get(this.enlace, {
          params,
        })
        .then(response => {
          let objeto = response.data
          this.correlativo = objeto.codigo
          this.cargando = false
          this.actualizar()
        })
        .catch(error => {
          this.$store.dispatch('agregarError', { titulo: 'Correlativo', error })
          this.cargando = false
        })
    }
  },
  methods: {
    actualizar() {
      this.$emit('input', this.correlativo)
    },
  },
}
</script>
