<template>
  <v-text-field type="mail" label="Correo" v-model="correo" @input="actualizar()" :rules="computedRules" :required="required" :color="color"></v-text-field>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
    },
    rules: {
      type: Array,
    },
    required: {
      type: Boolean,
    },
    color: {
      type: String,
      default: 'primary',
    },
  },
  data() {
    return {
      correo: null,
    }
  },
  computed: {
    computedRules() {
      let reglas = []
      reglas.concat(this.rules)
      if (this.required) reglas.push(v => !!v || 'Ingresa un correo')
      reglas.push(
        v =>
          /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
          'El correo debe ser válido'
      )
      return reglas
    },
  },
  methods: {
    actualizar() {
      this.$emit('input', this.correo)
    },
  },
}
</script>
