<template>
  <v-layout row wrap>
    <v-flex xs12>
      <v-text-field v-model="direccion" :color="color" @input="actualizar()" label="Dirección" required></v-text-field>
    </v-flex>
    <v-flex v-if="seleccionarPais" xs12 sm4>
      <v-select v-model="pais" :color="color" @input="buscarPais(pais)" label="País" :items="paises" item-value="iso2" item-text="nombre" auto :required="required" autocomplete></v-select>
    </v-flex>
    <v-flex xs6 :sm4="seleccionarPais" :sm6="sinComentario && !seleccionarPais">
      <v-select v-model="region" :color="color" @input="actualizar()" label="Región" :items="regiones" item-text="nombre" autocomplete></v-select>
    </v-flex>
    <v-flex xs6 :sm4="seleccionarPais" :sm6="sinComentario && !seleccionarPais">
      <v-select v-model="comuna" :color="color" @input="actualizar()" label="Comuna" :items="region.nuts2" item-text="nombre" :disabled="!region" autocomplete></v-select>
    </v-flex>
    <v-flex xs12 :sm4="!sinComentario" :sm12="seleccionarPais && !sinComentario" v-if="!sinComentario">
      <v-text-field v-model="comentarios" :color="color" @input="actualizar()" label="Comentario"></v-text-field>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: 'direccion',
  props: {
    value: {
      type: Object,
    },
    sinComentario: {
      type: Boolean,
      default: true,
    },
    seleccionarPais: {
      type: Boolean,
    },
    paisSeleccionado: {
      type: String,
      default: 'CL',
    },
    required: {
      type: Boolean,
    },
    color: {
      type: String,
      default: 'primary',
    },
  },
  data() {
    return {
      paises: [],
      regiones: [],
      pais: {},
      direccion: '',
      region: '',
      comuna: '',
      comentario: '',
    }
  },
  created() {
    this.axios
      .get('/api/pais')
      .then(response => {
        this.paises = response.data.data
        this.pais = this.buscarPais(this.paisSeleccionado)
        this.actualizar()
      })
      .catch(error => {
        this.$store.dispatch('agregarError', {titulo: 'Direccion', error})
      })
  },
  computed: {
    comunas() {
      let comunas = []
      if (this.region) {
        comunas = this.region.nuts2
      }
      return comunas
    },
  },
  methods: {
    buscarPais(iso2) {
      let pais = this.paises.find(pais => pais.iso2 === iso2)
      this.regiones = JSON.parse(pais.ciudades)
      this.actualizar()
      return pais
    },
    actualizar() {
      this.$emit('input', {
        pais: this.pais.iso2,
        direccion: this.direccion,
        region: this.region.nombre,
        comuna: this.comuna.nombre,
      })
    },
  },
}
</script>
