<template>
  <v-layout>
    <v-flex :md7="verVisor"
            xs12>
      <v-textarea v-model="input"
                  :label="label"
                  rows="1"
                  @input="actualizar" />
    </v-flex>
    <v-flex v-show="verVisor"
            xs12
            md5>
      <div class="markdown-visor"
           v-html="compiledMarkdown" />
    </v-flex>
    <v-btn outline
           small
           fab
           right
           color="grey darken-1"
           @click="verVisor = !verVisor">
      <v-icon>{{ verVisor ? 'view_headline' : 'vertical_split' }}</v-icon>
    </v-btn>
  </v-layout>
</template>

<script>
import debounce from 'lodash/debounce'
import marked from 'marked'

export default {
  props: {
    value: {
      type: String,
      default: null,
    },
    label: {
      type: String,
      default: null,
    },
  },
  data() {
    return {
      verVisor: false,
      input: this.value,
    }
  },
  computed: {
    compiledMarkdown: function() {
      return marked(this.input, { sanitize: true })
    },
  },
  methods: {
    actualizar: debounce(function(val) {
      this.input = val
      this.$emit('input', this.input)
    }, 300),
  },
}
</script>

<style>
div.markdown-visor {
  font-size: 0.7rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.1rem;
  padding: 0.5rem;
}
</style>
