<template>
  <v-layout row wrap>
    <v-flex xs12 v-if="!sinRut">
      <RutChileno @input="actualizar()" v-model="rut" autofocus required></RutChileno>
    </v-flex>
    <v-flex xs12 sm4>
      <v-text-field @input="actualizar()" v-model="nombres" label="Nombres" required></v-text-field>
    </v-flex>
    <v-flex xs12 sm4>
      <v-text-field @input="actualizar()" v-model="primer_apellido" label="Primer Apellido" required></v-text-field>
    </v-flex>
    <v-flex xs12 sm4>
      <v-text-field @input="actualizar()" v-model="segundo_apellido" label="Segundo Apellido"></v-text-field>
    </v-flex>
    <v-flex xs12 sm4>
      <v-select @input="actualizar()" v-model="sexo" :items="lista_sexos" item-text="nombre" label="Sexo" autocomplete></v-select>
    </v-flex>
    <v-flex xs12 sm4>
      <v-select @input="actualizar()" v-model="trato" :items="lista_trato" item-text="nombre" label="Trato" autocomplete></v-select>
    </v-flex>
    <v-flex xs12 sm4>
      <Fecha @input="actualizar()" v-model="fecha_nacimiento" label="Fecha de nacimiento"></Fecha>
    </v-flex>
    <v-flex xs12 sm4 v-if="!simple">
      <v-select @input="actualizar()" v-model="estado_civil" :items="lista_estado_civil" item-text="nombre" label="Estado civil" autocomplete></v-select>
    </v-flex>
    <v-flex xs12 sm6 v-if="!simple">
      <v-select @input="actualizar()" v-model="nacionalidad" :items="lista_paises" item-text="nombre" label="Nacionalidad" autocomplete></v-select>
    </v-flex>
  </v-layout>
</template>

<script>
import RutChileno from './RutChileno'
import Fecha from './Fecha'
export default {
  components: {
    RutChileno,
    Fecha,
  },
  props: {
    value: Object,
    sinRut: {
      type: Boolean,
      default: false,
    },
    simple: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      lista_sexos: [
        {
          id: 1,
          nombre: 'Masculino',
        },
        {
          id: 2,
          nombre: 'Femenino',
        },
      ],
      lista_trato: [
        {
          id: 1,
          nombre: 'Sr.',
        },
        {
          id: 2,
          nombre: 'Sra.',
        },
        {
          id: 3,
          nombre: 'Estimado',
        },
        {
          id: 4,
          nombre: 'Estimada',
        },
        {
          id: 5,
          nombre: 'Estimade',
        },
      ],
      lista_estado_civil: [
        {
          id: 1,
          nombre: 'Soltería',
        },
        {
          id: 2,
          nombre: 'Matrimonio',
        },
        {
          id: 3,
          nombre: 'Viudez',
        },
        {
          id: 4,
          nombre: 'Conviviente civil',
        },
        {
          id: 5,
          nombre: 'Separación',
        },
      ],
      rut: '',
      nombres: '',
      primer_apellido: '',
      segundo_apellido: '',
      sexo: '',
      trato: '',
      estado_civil: '',
      nacionalidad: '',
      fecha_nacimiento: '',
    }
  },
  methods: {
    actualizar() {
      this.$emit('input', {
        rut: this.rut,
        nombres: this.nombres,
        primer_apellido: this.primer_apellido,
        segundo_apellido: this.segundo_apellido,
        sexo: this.sexo,
        trato: this.trato,
        estado_civil: this.estado_civil,
        nacionalidad: this.nacionalidad,
        fecha_nacimiento: this.fecha_nacimiento,
      })
    },
  },
}
</script>