<template>
  <v-flex xs12>
    <v-card :flat="simple">
      <v-card-title>
        <h4 v-if="titulo"
            class="titulo-lista">{{ titulo }}</h4>
        <v-text-field v-if="!simple"
                      v-model="buscar"
                      :color="color"
                      append-icon="search"
                      label="Buscar"
                      single-line
                      hide-details
                      @input="obtenerDatos" />
      </v-card-title>
      <v-card-text>
        <v-data-table v-model="value"
                      :hide-actions="simple"
                      :headers="encabezados"
                      :items="listado"
                      :rows-per-page-items="rowsPerPageItems"
                      :loading="cargando"
                      :total-items="totalItems"
                      :pagination.sync="paginacion"
                      rows-per-page-text="Resultados por página">
          <!-- @update:pagination="obtenerDatos"> -->
          <template slot="items"
                    slot-scope="props">
            <tr @click="props.expanded = !props.expanded">
              <!-- el key en el id obliga a que todo objeto en lista tenga id -->
              <td v-for="(encabezado, index) in encabezados"
                  :key="index"
                  name="item"
                  class="text-xs-left">
                {{ rellenarCelda(props.item, encabezado.value, encabezado.callback, encabezado.default_value) }}
              </td>
            </tr>
          </template>
          <template slot="expand"
                    slot-scope="props">
            <slot :item="props.item"
                  name="acciones" />
          </template>
          <template slot="pageText"
                    slot-scope="{ pageStart, pageStop }">
            {{ pageStart }}-{{ pageStop }} de
          </template>
          <template slot="no-data">
            <v-alert v-if="!cargando"
                     :value="true"
                     color="error"
                     icon="error">
              No hay datos para mostrar
            </v-alert>
            <p v-else>
              <v-icon>fas fa-circle-notch fa-spin</v-icon>
            </p>
          </template>
          <template slot="no-results">
            <v-alert :value="true"
                     color="warning"
                     icon="warning">
              No hay resultados de búsqueda
            </v-alert>
          </template>
          <template slot="footer">
            <slot name="footer" />
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
  </v-flex>
</template>

<script>
import { mapGetters } from 'vuex'
import debounce from 'lodash/debounce'

export default {
  name: 'Lista',
  props: {
    value: {
      type: Object,
    },
    enlace: {
      type: String,
      required: true,
    },
    simple: {
      type: Boolean,
      default: false,
    },
    encabezados: {
      type: Array,
      required: true,
    },
    titulo: {
      type: String,
      default: null,
    },
    pagination: {
      type: Object,
      default: () => {},
    },
    color: {
      type: String,
      default: 'primary',
    },
  },
  data() {
    return {
      buscar: '',
      listado: [],
      paginacion: this.pagination,
      totalItems: 0,
      rowsPerPageItems: [
        10,
        20,
        50,
        {
          text: 'Todo',
          value: -1,
        },
      ],
      cargando: this.color,
    }
  },
  watch: {
    enlace: function(valorNuevo, valorPrevio) {
      if (!valorPrevio) return
      else {
        this.obtenerDatos()
      }
    },
    paginacion: {
      handler() {
        this.obtenerDatos()
      },
      deep: true,
    },
  },
  methods: {
    //TODO: Evitar doble llamado a obtenerDatos.
    //BUG: obtenerDatos es llamado dos veces, posiblemente por un evento de @input y otro de @update:pagination
    //que posiblemente son ejecutados al inicio
    /**
     * Obtiene los datos desde un endpoint entregado por la propiedad enlace
     */
    obtenerDatos: debounce(function() {
      this.cargando = this.color

      this.axios
        .get(this.enlace, {
          params: {
            sortBy: this.paginacion.sortBy,
            descending: this.paginacion.descending,
            page: this.paginacion.page,
            rowsPerPage: this.paginacion.rowsPerPage,
            query: this.buscar,
          },
        })
        .then(response => {
          this.listado = response.data.data
          this.links = response.data.links
          this.meta = response.data.meta
          this.totalItems = response.data.meta.total
          this.cargando = false
        })
        .catch(error => {
          this.$store.dispatch('agregarError', { titulo: 'Lista', error })
          this.cargando = false
        })
    }, 300),
    /**
     * Recibe todo valor de cada tupla de la tabla.
     * Devuelve el parametro default_value (por defecto un guión) en caso de que sea un valor nulo, indefinido o falso.
     * Aplica un callback a los valores de cada tupla de la tabla.
     */
    rellenarCelda: function(item, key, callback, default_value) {
      // return - si no hay definición de datos
      if (!item) {
        return default_value ? default_value : '-'
      }
      if (callback) {
        if (Array.isArray(key)) {
          return callback(item, ...key)
        }
        return callback(item[key])
      }
      return item[key]
    },
  },
}
</script>
<style>
.titulo-lista {
  display: block;
  width: 100%;
}
</style>
