<template>
  <v-text-field v-model="monto" prefix="$ " :label="label" :hint="hint" :color="color" :rules="computedRules" :required="required" :disabled="disabled" :readonly="readonly" :solo="solo" :box="box" @input="actualizar"></v-text-field>
</template>

<script>
export default {
  props: {
    value: {
      type: [Number, String],
    },
    label: {
      type: String,
      default: 'Monto',
    },
    hint: {
      type: String,
    },
    required: {
      type: Boolean,
    },
    disabled: {
      type: Boolean,
    },
    solo: {
      type: Boolean,
    },
    box: {
      type: Boolean,
    },
    rules: {
      type: Array,
    },
    color: {
      type: String,
      default: 'primary',
    },
    readonly: {
      type: Boolean,
    },
  },
  data() {
    return {
      monto: this.value,
    }
  },
  watch: {
    value(val) {
      this.monto = val //TODO: BUG: No encontré otra solución para actualizar el valor del text-field cuando se pasaba el valor desde parent por v-model. Esto mata el formato.
      this.actualizar(Math.round(val, 2)) //TODO: Permitir cambiar la precisión
      //TALVEZ: this.actualizar(Math.round(parseFloat(val), 2)) sin this.monto = val (actualizar se encarga del formato y asignacion de monto)
    },
  },
  computed: {
    computedRules() {
      let reglas = []
      reglas.concat(this.rules)
      //reglas.push(v => !isNaN(v) || 'El monto no es un número') // no se necesita usando v-money
      if (this.required) reglas.push(v => !!v || 'Ingresa el monto')
      return reglas
    },
  },
  methods: {
    onlyNumbers(input) {
      let cadena = input.toString() //RECORDATORIO: Esta evidente linea solucionó Sentry 03c9ffd811a4405ab2ac77aa931c9588 entre otros. Permitió que el formato funcionara e hizo mi vida feliz.
      let negativo = cadena.indexOf('-') >= 0 ? '-' : ''
      let numeros = cadena.replace(/\D+/g, '')
      return negativo + numeros
    },
    format(input) {
      return this.onlyNumbers(input).replace(/(\d)(?=(?:\d{3})+\b)/g, '$1.')
    },
    actualizar(val) {
      this.monto = this.format(val)
      this.$emit('input', this.onlyNumbers(val))
    },
  },
}
</script>