<template>
  <v-layout>
    <v-flex xs6>
      <MontoMonetario v-model="monto" :labelMonto="labelMonto" :color="color" :required="required" @input="actualizar"></MontoMonetario>
    </v-flex>
    <v-flex xs6>
      <Porcentaje v-model="porcentaje" :labelPorcentaje="labelPorcentaje" :required="required" @input="actualizar"></Porcentaje>
    </v-flex>
  </v-layout>
</template>

<script>
import Porcentaje from '@/components/elements/Porcentaje'
import MontoMonetario from '@/components/elements/MontoMonetario'

export default {
  components: {
    Porcentaje,
    MontoMonetario,
  },
  props: {
    value: {
      type: [Number, String],
    },
    total: {
      type: Number,
      required: true,
    },
    porcentaje: {
      type: Number,
      required: true,
    },
    labelMonto: {
      type: String,
      default: 'Monto',
    },
    labelPorcentaje: {
      type: String,
      default: 'Porcentaje',
    },
    required: {
      type: Boolean,
    },
    color: {
      type: String,
      default: 'primary',
    },
  },
  data() {
    return {
      // monto: this.value,
    }
  },
  computed: {
    computedRules() {
      let reglas = []
      reglas.concat(this.rules)
      if (this.required) reglas.push(v => !!v || 'Ingresa el porcentaje')
      return reglas
    },
    monto() {
      return this.total * this.porcentaje / 100
    },
  },
  methods: {
    actualizar() {
      this.$emit('input', this.monto) //TODO: Obtener valores en decimal o como porcentaje con comas
    },
  },
}
</script>