<template>
  <v-slider v-model="rate" thumb-label ticks :step="step" :max="max" :append-icon="appendIcon" :required="required" :disabled="disabled" :readonly="readonly" @input="actualizar"></v-slider>
</template>

<script>
export default {
  name: 'rate',
  props: {
    value: {
      type: [Number, String],
    },
    label: {
      type: String,
      default: 'Evaluación',
    },
    step: {
      type: String,
      default: 1,
    },
    max: {
      type: Number,
      default: 5,
    },
    appendIcon: {
      type: String,
      default: 'favorite',
    },
    required: {
      type: Boolean,
    },
    disabled: {
      type: Boolean,
    },
    readonly: {
      type: Boolean,
    },
  },
  data() {
    return {
      rate: this.value,
    }
  },
  methods: {
    actualizar(val) {
      this.$emit('input', val)
    },
  },
}
</script>
