<template>
  <v-layout row
            wrap>
    <v-flex sm4>
      <v-select v-model="pais"
                :items="paises"
                label="País"
                item-text="nombre"
                single-line
                auto
                append-icon="map"
                required />
    </v-flex>
    <v-flex sm4>
      <v-select v-model="region"
                :items="regiones"
                label="Región"
                item-text="nuts1_nombre"
                item-value="nuts1_id" />
    </v-flex>
    <v-flex sm4>
      <v-select v-model="comuna"
                :items="comunas"
                label="Comuna"
                item-text="nuts3_nombre"
                item-value="nuts3_id" />
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  data() {
    return {
      paises: this.$store.state.interfaz.paises,
      pais: 0,
      region: '',
      comuna: '',
    }
  },
  computed: {
    regiones() {
      return this.paises[this.pais].ciudades
    },
  },
  methods: {
    actualizar() {
      this.$emit('input', {
        pais: this.pais,
        region: this.region,
        comuna: this.comuna,
      })
    },
  },
}
</script>
