<template>
  <v-layout align-center
            justify-center>
    <v-flex x12>
      <h4 v-if="label">{{ label }}</h4>
      <v-time-picker v-model="tiempo"
                     :color="color"
                     :allowed-minutes="allowedMinutes"
                     :allowed-hours="allowedHours"
                     full-width
                     format="24hr"
                     @input="update" />
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  props: {
    value: {
      type: Object,
      default: () => {
        return {
          hora: null,
          minuto: null,
        }
      },
    },
    label: {
      type: String,
      default: null,
    },
    color: {
      type: String,
      default: 'primary',
    },
    required: {
      type: Boolean,
      default: false,
    },
    allowedMinutes: {
      type: Function,
      default: v => !(v % 5),
    },
    allowedHours: {
      type: Function,
      default: v => true,
    },
  },
  data() {
    return {
      tiempo: null,
    }
  },
  computed: {
    // anchoReloj() {
    //   switch (this.$vuetify.breakpoint.name) {
    //     case 'xs':
    //       return '240'
    //     case 'sm':
    //       return '260'
    //     default:
    //       return '280'
    //   }
    // },
    // horizontal() {
    //   return this.$vuetify.breakpoint.name.localeCompare('xs') != 0
    // },
  },
  watch: {
    value: function(val) {
      this.tiempo = this.formatoHora(val.hora, val.minuto)
    },
  },
  created() {
    this.tiempo = this.formatoHora(this.value.hora, this.value.minuto)
  },
  methods: {
    update(evt) {
      this.$emit('input', this.extraerHora(evt))
    },
    pad(numero) {
      let cadena = '' + numero
      return cadena.length === 1 ? '0' + cadena : cadena
    },
    extraerHora() {
      let tiempo = this.tiempo.split(':')
      return { hora: tiempo[0], minuto: tiempo[1] }
    },
    formatoHora(hora, minuto) {
      if (!hora && !minuto) return null

      let cadenaHora = this.pad(hora),
        cadenaMinuto = this.pad(minuto)

      return cadenaHora + ':' + cadenaMinuto
    },
  },
}
</script>

<style>
/* .v-picker__title__btn active {
  font-size: 1.25em !important;
}
.v-picker--landscape .v-picker__title {
  width: 150px !important;
}
.v-picker__title--landscape .v-picker__body {
  margin-left: 130px !important;
}
.v-picker__title__btn {
  font-size: 45px !important;
} */
</style>
