<template>
  <v-autocomplete v-model="seleccion"
                  :label="label"
                  :items="items"
                  :item-text="itemText"
                  :item-value="itemValue"
                  :loading="cargando"
                  :return-object="returnObject"
                  :rules="computedRules"
                  :required="required"
                  :disabled="disabled"
                  :color="color"
                  :chips="chips"
                  :tags="tags"
                  :single-line="singleLine"
                  :bottom="bottom"
                  @input="actualizar($event.target.value)">
    <template slot="item"
              slot-scope="data">
      <template v-if="'codigo' in data.item">
        <v-list-tile-content v-text="data.item.codigo + ' · ' + data.item[itemText]" />
      </template>
      <template v-else>
        <v-list-tile-content v-text="data.item[itemText]" />
      </template>
    </template>
    <template slot="no-data">
      <v-alert :value="true"
               color="error"
               icon="warning">
        No hay datos para mostrar.
      </v-alert>
    </template>
  </v-autocomplete>
</template>

<script>
import { mapGetters } from 'vuex'
//TODO: Crear prop cache, que si está activada, busque según la parte final del enlace (/api/{concepto}) el concepto en vuex. la caché se actualiza cerrando sesion
export default {
  name: 'SelectorListas',
  props: {
    value: {
      type: [Object, Array, String, Number],
    },
    label: {
      type: String,
      required: true,
    },
    loading: {
      type: Boolean,
      default: true,
    },
    autocomplete: {
      type: Boolean,
      default: true,
    },
    required: {
      type: Boolean,
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    rules: {
      type: Array,
      default: () => {},
    },
    chips: {
      type: Boolean,
      default: false,
    },
    tags: {
      type: Boolean,
      default: false,
    },
    singleLine: {
      type: Boolean,
      default: false,
    },
    bottom: {
      type: Boolean,
      default: false,
    },
    itemText: {
      type: String,
      default: 'nombre_presentacion',
    },
    itemValue: {
      type: [Number, String],
      default: 'id',
    },
    returnObject: {
      type: Boolean,
      default: false,
    },
    color: {
      type: String,
      default: 'primary',
    },
    enlace: {
      type: String,
      required: true,
    },
    campos: {
      type: [String, Array],
      default: () => ['id', 'nombre_presentacion'],
    },
  },
  data() {
    return {
      cargando: this.loading,
      items: [],
    }
  },
  created() {
    this.axios
      .get(this.enlace, {
        params: {
          fields: this.campos,
        },
      })
      .then(response => {
        this.items = response.data.data
        this.cargando = false
      })
      .catch(error => {
        this.$store.dispatch('agregarError', {
          titulo: 'SelectorListas',
          error,
        })
        this.cargando = false
      })
  },
  methods: {
    actualizar(val) {
      this.$emit('input', val)
    },
  },
  computed: {
    seleccion: {
      get() {
        return this.value
      },
      set(val) {
        this.actualizar(val)
      },
    },
    computedRules() {
      let reglas = []
      reglas.concat(this.rules)
      if (this.required)
        reglas.push(v => !!v || v === 0 || 'Se require esta información')
      return reglas
    },
  },
}
</script>
