<template>
  <v-select v-model="seleccion" @input="actualizar()" :auto="auto" :items="items" :item-avatar="item_avatar" :hide-selected="hide_selected" :item-text="item_text" :item-value="item_value" :label="label" :autocomplete="autocomplete" :required="required" :rules="computedRules" :loading="loading" :color="color">
    <template slot="no-data">
      <v-alert :value="true" color="error" icon="warning">
        No hay datos para mostrar :(
      </v-alert>
    </template>
  </v-select>
</template>

<script>
export default {
  props: {
    value: {
      type: [Object, Array],
    },
    auto: {
      type: Boolean,
      default: true,
    },
    items: {
      type: [Object, Array],
    },
    item_avatar: {
      type: String,
    },
    item_text: {
      type: String,
      default: 'nombre_presentacion',
    },
    item_value: {
      type: String,
    },
    hide_selected: {
      type: Boolean,
      default: true,
    },
    label: {
      type: String,
    },
    autocomplete: {
      type: Boolean,
      default: true,
    },
    required: {
      type: Boolean,
    },
    rules: {
      type: Array,
    },
    loading: {
      type: [Boolean, String],
    },
    color: {
      type: String,
      default: 'primary',
    },
  },
  data() {
    return {
      seleccion: null,
    }
  },
  methods: {
    actualizar() {
      this.$emit('input', this.seleccion)
    },
  },
  computed: {
    computedRules() {
      let reglas = []
      reglas.concat(this.rules)
      if (this.required)
        reglas.push(v => (!!v || v === 0) || 'Se require esta información')
      return reglas
    },
  },
}
</script>