<template>
  <v-select auto label="Ícono" :items="iconos" v-model="icono" @input="actualizar()" single-line>
    <template slot="selection" slot-scope="data">
      <v-icon class="text-xs-center">{{data.item}}</v-icon>
    </template>
    <template slot="item" slot-scope="data">
      <v-icon class="text-xs-center">{{data.item}}</v-icon>
    </template>
  </v-select>
</template>

<script>
  export default {
    props: {
      value: String,
      iconos: {
        type: Array,
        default: () => [
          'alarm',
          'favorite',
          'grade',
          'help_outline',
          'info',
          'account_circle',
          'account_balance_wallet',
          'autorenew'
        ]
      },
    },
    data() {
      return {
        icono: '',
      }
    },
    methods: {
      actualizar() {
        this.$emit('input', this.icono)
      }
    }
  }

</script>