<template>
  <v-flex xs12
          class="py-2">
    <p>{{ label }}</p>
    <v-btn-toggle v-model="seleccion"
                  @input="actualizar($event.target.value)">
      <v-btn v-for="(item, index) in items"
             :item="item"
             :index="index"
             :key="item.id"
             :value="item.id"
             :color="color[item.id]"
             outline>
        {{ item.nombre_presentacion }}
      </v-btn>
    </v-btn-toggle>
  </v-flex>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'SelectorBotones',
  props: {
    value: {
      type: [Object, Array, String, Number],
      default: null,
    },
    label: {
      type: String,
      required: true,
    },
    loading: {
      type: Boolean,
      default: true,
    },
    required: {
      type: Boolean,
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    enlace: {
      type: String,
      required: true,
    },
    campos: {
      type: [String, Array],
      default: () => ['id', 'nombre_presentacion'],
    },
  },
  data() {
    return {
      cargando: this.loading,
      items: [],
      color: ['green', 'yellow', 'red'],
    }
  },
  computed: {
    seleccion: {
      get() {
        return this.value
      },
      set(val) {
        this.actualizar(val)
      },
    },
  },
  created() {
    this.axios
      .get(this.enlace, {
        params: {
          fields: this.campos,
        },
      })
      .then(response => {
        this.items = response.data.data
        this.cargando = false
      })
      .catch(error => {
        this.$store.dispatch('agregarError', {
          titulo: 'SelectorBotones',
          error,
        })
        this.cargando = false
      })
  },
  methods: {
    actualizar(val) {
      this.$emit('input', val)
    },
  },
}
</script>
