<template>
  <CartaPrincipal titulo="Clientes" :enlaces="enlaces"></CartaPrincipal>
</template>

<script>
  import CartaPrincipal from '@/components/elements/CartaPrincipal'

  export default {
    components: {
      CartaPrincipal
    },
    data() {
      return {
        enlaces: [{
          enlace: "/clientes/crear",
          icono: "add",
          titulo: "Crear cliente",
        }, {
          enlace: "/clientes/lista",
          icono: "apps",
          titulo: "Litado de clientes",
        }]
      }
    }
  }

</script>