<template>
  <v-form v-model="valido" ref="form" lazy-validation>
    <!-- ToDo: Los placeholder de ejemplo se generan automáticamente de una base de datos de combatientes. En el campo de comentarios se escribe una reseña de su historia -->
    <!-- datos de identificación -->
    <v-layout row wrap>
      <v-flex xs12>
        <v-card flat>
          <v-card-title>
            <h5>Identificación</h5>
          </v-card-title>
          <v-card-text>
            <IdentificacionPersona v-model="contacto.identificacion" sin-rut></IdentificacionPersona>
            <v-layout row wrap>
              <v-flex xs6>
                <v-select :items="clientes" item-text="nombre_presentacion" item-value="id" v-model="contacto.cliente" label="Empresa relacionada"
                  single-line bottom></v-select>
              </v-flex>
              <v-flex xs6>
                <v-text-field label="Cargo" v-model="contacto.cliente.cargo"></v-text-field>
              </v-flex>
              <v-flex xs12 sm6>
                <v-text-field label="Teléfono" v-model="contacto.telefono" required></v-text-field>
              </v-flex>
              <v-flex xs12 sm6>
                <v-text-field label="Correo" v-model="contacto.correo" required></v-text-field>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-flex>
      <!-- fin de datos identificación -->

      <!-- datos de contacto 
      <v-flex xs12 md6>
        <v-card flat>
          <v-card-title>
            <h5>Contacto</h5>
          </v-card-title>
          <v-card-text>
            <v-layout row wrap>
              
              <v-flex xs4>
                <v-text-field label="Facebook" v-model="contacto.redes_sociales.facebook" single-line prepend-icon="fa-facebook"></v-text-field>
              </v-flex>
              <v-flex xs4>
                <v-text-field label="Twitter" v-model="contacto.redes_sociales.twitter" single-line prepend-icon="fa-twitter"></v-text-field>
              </v-flex>
              <v-flex xs4>
                <v-text-field label="LinkedIn" v-model="contacto.redes_sociales.linkedin" single-line prepend-icon="fa-linkedin"></v-text-field>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-flex>
     Fin datos de contacto -->
      <!-- información adicional -->
      <v-flex xs12>
        <v-card flat>
          <v-card-title>
            <h5>Información adicional</h5>
          </v-card-title>
          <v-card-text>
            <v-text-field v-model="contacto.comentarios" label="Comentario" multi-line></v-text-field>
          </v-card-text>
        </v-card>
      </v-flex>
      <!-- fin información adicional -->
      <v-flex xs12>
        <v-card flat>
          <v-card-actions>
            <BotonEnvio :disabled="!valido" :refs="$refs" enlace="/api/contacto" :objeto="contacto">Crear contacto</BotonEnvio>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-form>
</template>

<script>
  import Fecha from '@/components/elements/Fecha'
  import IdentificacionPersona from '@/components/elements/IdentificacionPersona'
  import BotonEnvio from '@/components/elements/BotonEnvio'

  export default {
    components: {
      BotonEnvio,
      Fecha,
      IdentificacionPersona
    },
    name: 'crear-contacto',
    data() {
      return {
        valido: false,
        contacto: {
          cliente: {},
          redes_sociales: {},
          identificacion: {}
        },
        paises: this.$store.state.interfaz.paises,
        clientes: [],
      }
    },
    created() {
      this.axios.get('/api/cliente')
        .then(response => {
          this.clientes = response.data
        })
        .catch(error => {
          this.$store.dispatch('agregarError', {titulo: 'CrearContacto', error})
        })
    },
  }

</script>
