<template>
  <v-form v-model="valido" ref="form" lazy-validation>
    <!-- TODO: Los placeholder de ejemplo se generan automáticamente de una base de datos de combatientes. En el campo de comentarios se escribe una reseña de su historia -->
    <!-- datos de identificación -->
    <v-tabs v-model="tab_activa">
      <v-tab href="#datos_personales" ripple>
        Identificación
      </v-tab>
      <v-tab href="#contratos" ripple>
        Contratos
      </v-tab>
      <v-tab href="#imposiciones" ripple>
        Imposiciones
      </v-tab>

      <v-tab-item id="datos_personales">
        <v-layout row wrap>
          <v-flex xs12 sm6>
            <v-card flat>
              <v-card-title>
                <h5>Identificación</h5>
              </v-card-title>
              <v-card-text>
                <IdentificacionPersona v-model="persona.identificacion"></IdentificacionPersona>
                <v-text-field label="Oficio" v-model="persona.oficio"></v-text-field>
              </v-card-text>
            </v-card>
          </v-flex>
          <!-- fin de datos identificación -->
          <!-- dirección -->
          <v-flex xs12 sm6>
            <v-card flat>
              <v-card-title>
                <h5>Dirección</h5>
              </v-card-title>
              <v-card-text>
                <Direccion v-model="persona.direccion"></Direccion>
              </v-card-text>
            </v-card>
          </v-flex>
          <!-- fin dirección -->
          <v-flex xs12 sm6>
            <v-card flat>
              <v-card-title>
                <h5>Datos de transferencia</h5>
              </v-card-title>
              <v-card-text>
                <Banco v-model="persona.cuenta"></Banco>
              </v-card-text>
            </v-card>
          </v-flex>
          <v-flex xs12 sm6>
            <v-card flat>
              <v-card-title>
                <h5>Foto</h5>
              </v-card-title>
              <v-card-text>
                <SubirArchivo></SubirArchivo>
              </v-card-text>
            </v-card>
          </v-flex>
          <!-- Contacto -->
          <v-flex xs12 sm6>
            <v-card flat>
              <v-card-title>
                <h5>Contacto</h5>
              </v-card-title>
              <v-card-text>
                <v-layout row wrap>
                  <v-flex xs12 sm6>
                    <Telefono label="Teléfono" v-model="persona.telefono"></Telefono>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <v-tooltip left>
                      <v-text-field label="Correo" v-model="persona.correo" slot="activator"></v-text-field>
                      <span>Si posee más de un coreo, ingrésalos separados por comas</span>
                    </v-tooltip>
                  </v-flex>
                </v-layout>
              </v-card-text>
            </v-card>
          </v-flex>
          <!-- fin Contacto -->
          <!-- Contacto de emergencia -->
          <v-flex xs12 sm6>
            <v-card flat>
              <v-card-title>
                <h5>Contacto de emergencia</h5>
              </v-card-title>
              <v-card-text>
                <v-layout v-for="(contacto_emergencia, index) in persona.contactos_emergencia" :key="index" row wrap>
                  <v-flex xs12 sm6>
                    <v-text-field label="Nombre contacto de emergencia" v-model="contacto_emergencia.nombre"></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <Telefono label="Teléfono de emergencia" v-model="contacto_emergencia.telefono"></Telefono>
                  </v-flex>
                </v-layout>
              </v-card-text>
            </v-card>
          </v-flex>
          <!-- fin Contacto de emergencia -->
          <!-- inicio Información adicional -->
          <v-flex xs12 sm6>
            <v-card flat>
              <v-card-title>
                <h5>Información adicional</h5>
              </v-card-title>
              <v-card-text>
                <v-text-field v-model="persona.comentarios" label="Comentario" multi-line></v-text-field>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-tab-item>
      <v-tab-item id="contratos">
        <Contratos v-model="contrato"></Contratos>
      </v-tab-item>
      <v-tab-item id="imposiciones">
        <!-- datos de seguridad social -->
        <v-flex xs12>
          <v-card flat>
            <v-card-title>
              <h5>Imposiciones</h5>
            </v-card-title>
            <v-card-text>
              <v-layout row wrap>
                <v-flex xs12 md8>
                  <ImposicionesPersona v-model="imposicion"></ImposicionesPersona>
                </v-flex>
                <v-flex xs12 md4>
                </v-flex>
              </v-layout>
            </v-card-text>
            <v-card-actions>
              <v-btn outline @click="crearImposicion()">Crear Imposicion</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
        <!-- fin de datos de seguridad social -->
      </v-tab-item>
    </v-tabs>
    <v-card>
      <BotonEnvio :disabled="!valido" :refs="$refs" enlace="/api/persona" :objeto="persona" agregarEmpresa>Crear persona</BotonEnvio>
    </v-card>
  </v-form>
</template>

<script>
import IdentificacionPersona from '@/components/elements/IdentificacionPersona'
import Direccion from '@/components/elements/Direccion'
import Banco from '@/components/elements/Banco'
import SubirArchivo from '@/components/elements/SubirArchivo'
import Fecha from '@/components/elements/Fecha'
import BotonEnvio from '@/components/elements/BotonEnvio'
import Telefono from '@/components/elements/Telefono'
import ImposicionesPersona from '@/components/Personas/ImposicionesPersona'
import Contratos from '@/components/Personas/Contratos'

export default {
  components: {
    BotonEnvio,
    IdentificacionPersona,
    Direccion,
    Banco,
    SubirArchivo,
    Fecha,
    Telefono,
    ImposicionesPersona,
    Contratos,
  },
  props: ['id'],
  data() {
    return {
      valido: false,
      editando: false,
      tab_activa: null,
      persona: {
        contratos: {},
        contactos_emergencia: [{}],
        imposiciones: {},
        redes_sociales: {},
        direccion: {},
        identificacion: {},
        cuenta: {},
      },
      imposicion: {
        asignacion_familiar: {},
      },
      contrato: {},
    }
  },
  created() {
    if (this.id) {
      this.editando = true
      this.axios
        .get('/api/persona/' + this.id)
        .then(response => {
          this.persona = Object.assign({}, this.persona, response.data)
        })
        .catch(error => {
          this.$store.dispatch('agregarError', {titulo: 'CrearPersona', error})
        })
    }
  },
}
</script>
