<template>
  <v-form v-model="valido" ref="form" lazy-validation>
    <v-layout row wrap>
      <v-flex xs12 sm4>
        <Fecha v-model="fecha_contrato" label="Fecha de contrato" @input="actualizar()" required></Fecha>
      </v-flex>
      <v-flex xs12 sm4>
        <Fecha v-model="fecha_inicio" label="Fecha de inicio" @input="actualizar()" required></Fecha>
      </v-flex>
      <v-flex xs12 sm4>
        <Fecha v-model="fecha_termino" label="Fecha de término" @input="actualizar()"></Fecha>
      </v-flex>
      <v-flex xs12>
        <v-btn-toggle v-model="tipo_contrato">
          <v-btn flat value="por_obra">
            <span>Por obra</span>
          </v-btn>
          <v-btn flat value="por_plazo">
            <span>Por plazo</span>
          </v-btn>
          <v-btn flat value="indefinido">
            <span>Indefinido</span>
          </v-btn>
        </v-btn-toggle>
      </v-flex>
      <v-flex xs12 sm4>
        <SelectorListas v-model="centro_costo" enlace="/api/centro_costo" label="Faena" @input="actualizar()" :required="tipo_contrato === 'por_obra'" :campos="['id', 'nombre_presentacion', 'codigo']"></SelectorListas>
      </v-flex>
      <v-flex xs12 sm4>
        <v-text-field v-model="plazo" label="Plazo" suffix="meses" persistent-hint hint="Si es un contrato indefinido, escribir un cero." @input="actualizar()" :required="tipo_contrato === 'por_plazo'" :disabled="tipo_contrato === 'indefinido'"></v-text-field>
      </v-flex>
      <v-flex xs12 sm6 md6>
        <MontoMonetario v-model="sueldo_base" label="Sueldo base" @input="actualizar()" required></MontoMonetario>
      </v-flex>
      <v-flex xs12 sm6 md6>
        <MontoMonetario v-model="gratificacion" label="Gratificación" @input="actualizar()"></MontoMonetario>
      </v-flex>
      <!-- <v-flex xs12 sm6 md6>
        <MontoMonetario v-model="sueldo_base" label="Sueldo base" @input="actualizar()"></MontoMonetario>
      </v-flex> -->
      <v-flex xs12 sm6 md6>
        <v-text-field v-model="cargo" label="Cargo" @input="actualizar()" required></v-text-field>
      </v-flex>
      <v-flex xs12 sm6>
        <v-text-field v-model="lugar_trabajo" label="Lugar de trabajo" @input="actualizar()"></v-text-field>
      </v-flex>
      <v-flex xs12 sm6>
        <v-text-field v-model="jornada" label="Jornada" suffix="horas" hint="Jornada semanal expresada en horas." @input="actualizar()"></v-text-field>
      </v-flex>
      <!-- <v-flex xs12>
      <v-switch :label="bono_semana_corrida ? 'Aplica Bono Semana Corrida' : 'No aplica Bono Semana Corrida'" v-model="bono_semana_corrida"
        @input="actualizar()"></v-switch>
    </v-flex>
    <v-flex xs12>
      <v-switch :label="gratificacion_legal ? 'Aplica gratificación' : 'No aplica gratificación'" v-model="gratificacion_legal"
        @input="actualizar()"></v-switch>
    </v-flex> -->
      <v-flex xs12>
        <v-text-field v-model="comentarios" label="Comentario" multi-line @input="actualizar()"></v-text-field>
      </v-flex>
      <v-flex xs12>
        <v-btn outline @click="crearContrato()">Crear Contrato</v-btn>
      </v-flex>
    </v-layout>
  </v-form>
</template>

<script>
import Fecha from '@/components/elements/Fecha'
import SelectorListas from '@/components/elements/SelectorListas'

export default {
  components: {
    Fecha,
    SelectorListas,
  },
  props: {
    value: Object,
  },
  data() {
    return {
      valido: false,
      fecha_contrato: null,
      fecha_inicio: null,
      tipo_contrato: null,
      plazo: null,
      sueldo_base: null,
      gratificacion: null,
      bonos: {},
      cargo: null,
      centro_costo: null,
      jornada: null,
      lugar_trabajo: null,
      comentario: null,
    }
  },
  methods: {
    actualizar() {
      this.$emit('input', {
        fecha_contrato: this.fecha_contrato,
        fecha_inicio: this.fecha_inicio,
        plazo: this.plazo,
        sueldo_base: this.sueldo_base,
        gratificacion: this.gratificacion,
        bonos: this.bonos,
        cargo: this.cargo,
        jornada: this.jornada,
        lugar_trabajo: this.lugar_trabajo,
        comentario: this.comentario,
      })
    },
  },
}
</script>
