<template>
  <CartaPrincipal titulo="Personas" :enlaces="enlaces"></CartaPrincipal>
</template>

<script>
  import CartaPrincipal from '@/components/elements/CartaPrincipal'

  export default {
    components: {
      CartaPrincipal
    },
    data() {
      return {
        enlaces: [{
          enlace: "/personas/crear",
          icono: "add",
          titulo: "Crear persona"
        }, {
          enlace: "/personas/lista",
          icono: "apps",
          titulo: "Listado de personal"
        }]
      }
    }
  }

</script>
