<template>
  <v-card>
    {{ usuario.nombre }} {{ usuario.primer_apellido }} {{ usuario.segundo_apellido }} {{ usuario.nombre_presentacion }}
    <v-text-field name="input-10-1" label="Ingresa tu contraseña" hint="Al menos 8 letras" v-model="constrasena" min="8" :append-icon="e1 ? 'visibility' : 'visibility_off'"
      :append-icon-cb="() => (ocultar_contrasena = !ocultar_contrasena)" :type="ocultar_contrasena ? 'password' : 'text'" counter></v-text-field>
  </v-card>
</template>

<script>
  export default {
    data() {
      return {
        usuario: {},
        constrasena: null,
        ocultar_contrasena: true
      }
    },
    created() {
      this.axios.get('/api/usuario') //TODO: Recibir params por router
        .then(response => {
          this.usuario = response.data.data

        })
        .catch(error => {
          this.$store.dispatch('agregarError', {titulo: 'VerPersona', error})
        })
    },
  }

</script>
