<template>
  <v-form v-model="valido" ref="form" lazy-validation>
    <v-layout row wrap>
      <!-- Emisor -->
      <v-flex xs12>
        <v-card flat>
          <v-card-title>
            <h5>Emisor</h5>
          </v-card-title>
          <v-card-text>
            <v-layout row wrap>
              <v-flex xs12>
                <SelectorRutNombre v-model="factura.proveedor" enlace="/api/proveedor" labelRut="RUT Proveedor" labelNombre="Razón social" :rules="[(v) => !!v || 'Ingresa el proveedor que emitió la factura']" required></SelectorRutNombre>
              </v-flex>
              <!-- <v-flex xs6>
                <v-select :items="tipo_compra" item-text="nombre" v-model="factura.tipo_compra" label="Tipo de compra" autocomplete required></v-select>
              </v-flex> -->
              <!-- No debería necesitar esto para facturas recibidas
                <v-flex xs6>
                <v-select :items="factura.proveedor.direcciones" item-text="direccion" v-model="factura.proveedor.direccion" label="Dirección"
                  autocomplete required></v-select>
              </v-flex> -->
              <!-- <v-flex xs12>
                al parecer v-select tags no soporta item-text // No debería necesitar esto para facturas recibidas
                <v-select :items="factura.proveedor.giros" item-text="nombre" v-model="factura.proveedor.giro" label="Giro" tags autocomplete
                  required></v-select>
              </v-flex> -->
              <v-flex xs6>
                <v-select :items="factura.proveedor.contactos" item-text="nombre" v-model="factura.proveedor.contacto" label="Contacto"
                  autocomplete required></v-select>
              </v-flex>
              <!-- No debería necesitar esto para facturas recibidas // Este dato debería estar en el responsable del Gasto
                <v-flex xs6>
                <RutChileno v-model="factura.rut_solicitante"></RutChileno>
              </v-flex> -->
            </v-layout>
          </v-card-text>
          <v-card-actions>
            <v-btn flat :class="estiloBotonSecundario" @click="nuevoCliente">Crear nuevo cliente</v-btn>
            <v-btn flat :class="estiloBotonSecundario" @click="nuevoContacto">Crear nuevo contacto</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
      <v-flex xs12>
        <v-card flat>
          <v-card-title>
            <h5>Productos</h5>
          </v-card-title>
          <v-card-text>
            <v-layout v-for="(producto, index) in factura.productos" :key="index" row wrap>
              <v-flex xs1>
                <v-text-field v-model="producto.codigo" label="Código" single-line></v-text-field>
              </v-flex>
              <v-flex xs3>
                <v-text-field v-model="producto.nombre" label="Nombre" single-line></v-text-field>
              </v-flex>
              <v-flex xs2>
                <v-text-field type="number" v-model="producto.cantidad" label="Cantidad" single-line></v-text-field>
              </v-flex>
              <v-flex xs2>
                <v-text-field v-model="producto.unidad" label="Unidad" single-line></v-text-field>
              </v-flex>
              <v-flex xs2>
                <MontoMonetario v-model="producto.precio" label="Precio" single-line></MontoMonetario>
              </v-flex>
              <v-flex xs2>
                <v-text-field v-model="producto.impuestos" label="Impuestos adicionales" single-line></v-text-field>
              </v-flex>
              <v-flex xs12>
                <SelectorListas v-model="producto.centro_costo_id" :itemValue="id" enlace="/api/centro_costo" label="Centro de costos" required></SelectorListas>
              </v-flex>
              <v-flex xs6>
              </v-flex>
              <v-flex xs6>
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-card-actions>
            <v-btn flat :class="estiloBotonSecundario" @click="nuevoProducto">Ingresar nuevo producto</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
      <!-- PAGOS -->
      <v-flex xs12>
        <v-card flat>
          <v-card-title>
            <h5>Pagos</h5>
          </v-card-title>
          <v-card-text>
            <v-layout v-for="(pago, index) in factura.pagos" :key="index" row wrap>
              <v-flex xs4>
                <Fecha v-model="pago.fecha" label="Fecha de pago"></Fecha>
              </v-flex>
              <v-flex xs4>
                <MontoMonetario v-model="pago.monto" label="Monto" single-line></MontoMonetario>
              </v-flex>
              <v-flex xs4>
                <v-text-field v-model="pago.glosa" label="Glosa" single-line></v-text-field>
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-card-actions>
            <v-btn flat :class="estiloBotonSecundario" @click="nuevoPago">Crear nuevo pago</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
      <v-flex xs12>
        <v-card flat>
          <v-card-title>
            <h5>Comentarios</h5>
          </v-card-title>
          <v-card-text>
            <v-text-field v-model="factura.comentarios" label="Comentario" multi-line></v-text-field>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs12>
        <v-card flat>
          <v-card-text>
            <BotonEnvio>Crear Factura</BotonEnvio>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-form>
</template>

<script>
  import {
    mapGetters
  } from 'vuex'
import BotonEnvio from '@/components/elements/BotonEnvio'
import Fecha from '@/components/elements/Fecha'
import SelectorListas from '@/components/elements/SelectorListas'
import MontoMonetario from '@/components/elements/MontoMonetario'
import SelectorRutNombre from '@/components/elements/SelectorRutNombre'

  export default {
    components: {
    BotonEnvio,
    Fecha,
    SelectorListas,
    SelectorRutNombre,
    MontoMonetario,
  },
    data() {
      return {
        valido: false,
        factura: {
          emisor: {},
          direcciones: [{}],
          productos: [],
          clasificaciones: {},
          pagos: [{}]
        },
        clientes: [],
        tipo_venta: null,
        tipo_compra: null, //TODO: Tipo venta y tipo compra están el SII
      }
    },
    computed: {
      ...mapGetters(['estiloBotonPrimario', 'estiloBotonSecundario']),
    },
    methods: {
      nuevoCliente() {
        //modal o cambiar por router-link
      },
      nuevoContacto() {
        //modal
      },
      nuevoProducto() {
        this.factura.factura.push({})
      },
      nuevoPago() {
        this.factura.pagos.push({})
      },
    }
  }

</script>
