<template>
  <v-form v-model="valido" ref="form" lazy-validation>
    <!-- EMISOR -->
    <v-layout row wrap>
      <v-flex xs12>
        <v-card flat>
          <v-card-title>
            <h5>Emisor</h5>
          </v-card-title>
          <v-card-text>
            <v-layout row wrap>
              <v-flex xs12>
                <v-select :items="unidades_productivas" item-text="nombre" v-model="cotizacion.emisor" label="Razón social" autocomplete
                  required></v-select>
              </v-flex>
              <!-- <v-flex xs6>
                <v-select :items="tipo_venta" item-text="nombre" v-model="cotizacion.emisor.tipo_venta" label="Tipo de venta" autocomplete required></v-select>
              </v-flex> -->
              <v-flex xs6>
                <v-select :items="cotizacion.emisor.direcciones" item-text="direccion" v-model="cotizacion.emisor.direccion" label="Dirección"
                  autocomplete required></v-select>
              </v-flex>
              <v-flex xs6>
                <v-text-field v-model="cotizacion.emisor.giro" label="Giro" required></v-text-field>
              </v-flex>
              <v-flex xs6>
                <!-- al parecer v-select tags no soporta item-text -->
                <v-select :items="cotizacion.emisor.actividades_economicas" item-text="nombre" v-model="cotizacion.emisor.actividad_economica"
                  label="Actividad económica" tags autocomplete required></v-select>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-flex>
      <!-- RECEPTOR -->
      <v-flex xs12>
        <v-card flat>
          <v-card-title>
            <h5>Receptor</h5>
          </v-card-title>
          <v-card-text>
            <v-layout row wrap>
              <v-flex xs6>
                <v-select :items="clientes" item-text="rut" v-model="cotizacion.cliente" label="RUT" autocomplete required></v-select>
              </v-flex>
              <v-flex xs6>
                <v-select :items="clientes" item-text="nombre" v-model="cotizacion.cliente" label="Razón social" autocomplete required></v-select>
              </v-flex>
              <!-- <v-flex xs6>
                <v-select :items="tipo_compra" item-text="nombre" v-model="cotizacion.tipo_compra" label="Tipo de compra" autocomplete required></v-select>
              </v-flex> -->
              <v-flex xs6>
                <v-select :items="cotizacion.cliente.direcciones" item-text="direccion" v-model="cotizacion.cliente.direccion" label="Dirección"
                  autocomplete required></v-select>
              </v-flex>
              <v-flex xs12>
                <!-- al parecer v-select tags no soporta item-text -->
                <v-select :items="cotizacion.cliente.giros" item-text="nombre" v-model="cotizacion.cliente.giro" label="Giro" tags autocomplete
                  required></v-select>
              </v-flex>
              <v-flex xs6>
                <v-select :items="cotizacion.cliente.contactos" item-text="nombre" v-model="cotizacion.cliente.contacto" label="Contacto"
                  autocomplete required></v-select>
              </v-flex>
              <v-flex xs6>
                <rut-chileno v-model="cotizacion.rut_solicitante"></rut-chileno>
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-card-actions>
            <v-btn flat :class="estiloBotonSecundario" @click="nuevoCliente">Crear nuevo cliente</v-btn>
            <v-btn flat :class="estiloBotonSecundario" @click="nuevoContacto">Crear nuevo contacto</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
      <!-- COTIZACION -->
      <v-flex xs12>
        <v-card flat>
          <v-card-title>
            <h5>Cotización</h5>
          </v-card-title>
          <v-card-text>
            <v-layout v-for="(producto, index) in cotizacion.cotizacion" :key="index" row wrap>
              <v-flex xs1>
                <v-text-field v-model="producto.codigo" label="Código" single-line></v-text-field>
              </v-flex>
              <v-flex xs3>
                <v-text-field v-model="producto.nombre" label="Nombre" single-line></v-text-field>
              </v-flex>
              <v-flex xs2>
                <v-text-field type="number" v-model="producto.cantidad" label="Cantidad" single-line></v-text-field>
              </v-flex>
              <v-flex xs2>
                <v-text-field v-model="producto.unidad" label="Unidad" single-line></v-text-field>
              </v-flex>
              <v-flex xs2>
                <v-text-field v-model="producto.precio" label="Precio" single-line></v-text-field>
              </v-flex>
              <v-flex xs2>
                <v-text-field v-model="producto.impuestos" label="Impuestos adicionales" single-line></v-text-field>
              </v-flex>
              <v-flex xs12>
              </v-flex>
              <v-flex xs6>
              </v-flex>
              <v-flex xs6>
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-card-actions>
            <v-btn flat :class="estiloBotonSecundario" @click="nuevoProducto">Ingresar nuevo producto</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
      <!-- PAGOS -->
      <v-flex xs12>
        <v-card flat>
          <v-card-title>
            <h5>Pagos</h5>
          </v-card-title>
          <v-card-text>
            <v-layout v-for="(pago, index) in cotizacion.pagos" :key="index" row wrap>
              <v-flex xs4>
                <v-text-field type="date" v-model="pago.fecha" label="Fecha de pago"></v-text-field>
              </v-flex>
              <v-flex xs4>
                <v-text-field v-model="pago.monto" label="Monto" single-line></v-text-field>
              </v-flex>
              <v-flex xs4>
                <v-text-field v-model="pago.glosa" label="Glosa" single-line></v-text-field>
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-card-actions>
            <v-btn flat :class="estiloBotonSecundario" @click="nuevoPago">Crear nuevo pago</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
      <v-flex xs12>
        <v-card flat>
          <v-card-title>
            <h5>Comentarios</h5>
          </v-card-title>
          <v-card-text>
            <v-text-field v-model="cotizacion.comentarios" label="Comentario" multi-line></v-text-field>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs12>
        <v-card flat color="white">
          <v-card-text>
            <v-btn color="orange" @click="crearCotizacion">Crear cotización</v-btn>
            <v-btn color="orange" @click="crearOrdenTrabajo">Crear Orden de Trabajo</v-btn>
            <v-btn color="orange" @click="crearFactura">Crear Factura</v-btn>
            <v-btn color="teal" @click="guardarBorrador">Guardar borrador</v-btn>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-form>
</template>

<script>
  import {
    mapGetters
  } from 'vuex'

  export default {
    data() {
      return {
        valido: false,
        cotizacion: {
          emisor: {},
          cliente: {},
          direcciones: [{}],
          productos: [],
          clasificaciones: {},
          cotizacion: [{}],
          pagos: [{}]
        },
        clientes: [],
        tipo_venta: null,
        tipo_compra: null, //TODO: Tipo venta y tipo compra están el SII
        unidades_productivas: null, //TODO: Cambiar por unidad seleccionada
      }
    },
    created() {
      this.axios.get('/api/cliente')
        .then(response => {
          this.clientes = response.data.data

        })
        .catch(error => {
          this.$store.dispatch('agregarError', {titulo: '', error})
        })
    },
    computed: {
      ...mapGetters(['estiloBotonPrimario', 'estiloBotonSecundario']),
    },
    methods: {
      nuevaDireccion() {
        this.cotizacion.direcciones.push({})
      },
      nuevoCliente() {
        //modal
      },
      nuevoContacto() {
        //modal
      },
      nuevoProducto() {
        this.cotizacion.cotizacion.push({})
      },
      nuevoPago() {
        this.cotizacion.pagos.push({})
      },
      contactos(empresa) {
        return empresa.contactos
      },
      crearCotizacion() {

      },
      crearOrdenTrabajo() {

      },
      crearFactura() {

      },
      guardarBorrador() {

      }
    }
  }

</script>
