<template>
  <v-layout row wrap>
    <v-flex xs12 md6>
      <v-card flat>
        <v-card-title>
          <h5>Cliente</h5>
        </v-card-title>
        <v-card-text>
          <v-layout row wrap>
            <v-flex xs12 sm6>
              <v-select :items="clientes" item-text="nombre" v-model="proyecto.cliente" label="Razón social" autocomplete required></v-select>
            </v-flex>
            <v-flex xs12 sm6>
              <v-select :items="proyecto.cliente.contactos" item-text="nombre" v-model="proyecto.cliente.contacto" label="Contacto" autocomplete></v-select>
            </v-flex>
          </v-layout>
        </v-card-text>
      </v-card>
    </v-flex>
    <v-flex xs12 md6>
      <v-card flat>
        <v-card-title>
          <h5>Fechas</h5>
        </v-card-title>
        <v-card-text>
          <v-layout row wrap>
            <v-flex xs12 sm6>
              <Fecha v-model="proyecto.fecha_inicio" label="Fecha de inicio"></Fecha>
            </v-flex>
            <v-flex xs12 sm6>
              <Fecha type="date" v-model="proyecto.fecha_termino" label="Fecha de término"></Fecha>
            </v-flex>
          </v-layout>
        </v-card-text>
      </v-card>
    </v-flex>
    <v-flex xs12>
      <v-card flat>
        <v-card-title>
          <h5>Oportunidad</h5>
        </v-card-title>
        <v-card-text>
          <v-layout row wrap>
            <v-flex xs12 md6>
              <v-select label="Encargado" v-model="proyecto.encargado" :items="personas" item-text="nombre_presentacion"></v-select>
            </v-flex>
            <v-flex xs12 md6>
              <Fecha v-model="proyecto.fecha_vencimiento" label="Fecha de vencimiento"></Fecha>
            </v-flex>
            <v-flex xs12 md6>
              <!--<v-subheader>Variables de éxito</v-subheader>
              Probabilidad
              <Rate v-model="proyecto.probabilidad" :length="5" :value="3" :ratedesc="['Ninguna', 'Poco probable', 'Probable', 'Muy probable', 'Certeza']"></Rate>
              Prioridad
              <Rate v-model="proyecto.prioridad" :length="5" :value="3" :ratedesc="['Ninguna', 'Normal', 'Deseable', 'Interesante', 'Importante']"></Rate>-->
              <v-text-field type="number" v-model="proyecto.monto" label="Monto" prefix="$" value="0" required></v-text-field>
            </v-flex>
            <v-flex xs12>
              <v-text-field v-model="proyecto.comentarios" label="Comentario" multi-line></v-text-field>
            </v-flex>
          </v-layout>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  import Rate from '@/components/elements/Rate'
  import Fecha from '@/components/elements/Fecha'

  export default {
    components: {
      Rate,
      Fecha
    },
    data() {
      return {
        proyecto: {
          cliente: {}
        },
        clientes: [],
        personas: [],
      }
    },
  }

</script>