<template>
  <Lista enlace="/api/proyecto" :encabezados="encabezados">
    <template slot="acciones" slot-scope="item">
      <v-card flat>
        <v-btn small color="primary" class="white--text" @click="editarCliente(item.item.id)">
          <v-icon left dark>edit</v-icon>
          Enviar proyecto
        </v-btn>
      </v-card>
    </template>
  </Lista>
</template>

<script>
  import Lista from '@/components/elements/Lista'

  export default {
    components: {
      Lista,
    },
    data() {
      return {
        encabezados: [{
            text: 'Nombre',
            value: 'nombre'
          },
          {
            text: 'Fecha inicio',
            value: 'fecha_inicio'
          },
          {
            text: 'Fecha término',
            value: 'fecha_termino'
          },
        ],
      }
    }
  }

</script>
