<template>
  <CartaPrincipal titulo="Proyectos" :enlaces="enlaces"></CartaPrincipal>
</template>

<script>
  import CartaPrincipal from '@/components/elements/CartaPrincipal'

  export default {
    components: {
      CartaPrincipal
    },
    data() {
      return {
        enlaces: [{
          enlace: "/proyectos/crear",
          icono: "add",
          titulo: "Nuevo"
        }, {
          enlace: "/proyectos/lista",
          icono: "apps",
          titulo: "Lista"
        }]
      }
    }
  }

</script>
